Notebook to read the csv file and analyze it

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import sqlalchemy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from itertools import *
from adjustText import adjust_text
import ast

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [36]:
#SOURCES
#https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/variant-surveillance/variant-info.html
#https://cov-lineages.org/
#https://virological.org/t/preliminary-genomic-characterisation-of-an-emergent-sars-cov-2-lineage-in-the-uk-defined-by-a-novel-set-of-spike-mutations/563 (UK only)
#https://jamanetwork.com/journals/jama/fullarticle/2776543 (california only)
variant_dic = {
    #B.1.526
    "ny6":['Spike_L5F','Spike_T95I','Spike_D253G','Spike_E484K','Spike_S477N','Spike_D614G','Spike_A701V','NSP4_L438P','NSP2_T85I','NSP6_S106-','NSP6_G107-','NSP6_F108-','NSP12_P323L','NSP13_Q88H','NS3_P42L','NS3_Q57H','NS8_T11I'],
    #B.1.525
    "ny5":['Spike_A67V','Spike_H69-','Spike_V70-','Spike_Y144-','Spike_E484K','Spike_D614G','Spike_Q677H','Spike_F888L','NSP12_P323F','NSP3_T1189I','M_I82T','N_A12G','N_T205I'],
    #P.1/variant
    "br":['NSP3_S370L','NSP3_K977Q','NSP6_S106_','NSP6_G107_','NSP6_F108_','Spike_L18F','Spike_T20N','Spike_P26S','Spike_D138Y','Spike_R190S','Spike_K417T','Spike_E484K','Spike_N501Y','Spike_H655Y','Spike_T1027I','NS3_G174C','NS8_E92K','N_P80R','Spike_K417N'],
    #p.2
    "br2":['Spike_E484K','Spike_D614G','Spike_V1176F','NSP5_L205V','NSP7_L71F','NSP12_P323L','N_A119S','N_R203K','N_G204R','N_M234I'],
    #B.1.1.7/501Y.V1
    "uk":['NSP3_T183I','NSP3_A890D','NSP3_I1412T','NSP6_S106-','NSP6_G107-','NSP6_F108-', 'Spike_Y144-','Spike_H69-','Spike_V70-','Spike_N501Y','Spike_A570D','Spike_P681H','Spike_T716I','Spike_S982A','Spike_D1118H','NS8_Q27*','NS8_R52I','NS8_Y73C','N_D3L','N_S235F','Spike_E484K','SpikeS494P','Spike_D614G'],
    #B.1.351/501Y.V2
    "sa":['E_P71L','N_T205I','NSP3_K837N','Spike_D80A','Spike_D215G','Spike_K417N','Spike_A701V','Spike_N501Y','Spike_E484K'],
    #A.23.1
    "ug":['Spike_F157L','Spike_V367F','Spike_Q613H','Spike_P681R'],
    #B.1.525
    "ni":['NSP12_P323L','Spike_Q52R','Spike_E484K','Spike_Q677H','Spike_F888L','E_L21F','E_I82T','NSP6_S106_','NSP6_G107_','NSP6_F108_','Spike_H69-','Spike_V70-','N_S2-'],
    #B.1.429
    "ca":['NSP9_I65V','NSP13_D260Y','Spike_S13I','Spike_W152C','Spike_L452R'],
    #minks
    "c5":['Spike_H69-','Spike_V70-','Spike_Y453F','Spike_I692V','Spike_S1147L','Spike_M1229I'],
    #4US
    "4US":['NS8_S24L','NSP5_L89F','N_P199L','NSP14_N129D'],
    #indianI/A3i
    "indianI/A3i":['NSP6_L37F','NSP12_A97V','N_P13L','NSP3_T1198K'],
    #indian_new
    'indian_new':['Spike_N440K']
    
}

In [29]:
engine = sqlalchemy.create_engine(
    sqlalchemy.engine.url.URL(
        drivername="postgresql",
        username="geco",
        password="geco78",
        host="localhost",
        port="5432",
        database="vcm_gisaid_du_2"
    ),
    echo_pool=True,
)

print("connecting with engine " + str(engine))
connection = engine.connect()

#connection.close()
#engine.dispose()

connecting with engine Engine(postgresql://geco:***@localhost:5432/vcm_gisaid_du_2)

In [39]:
obs_periods = 3
coeff_threshold = 0.25

In [40]:
big_slopes_matrix = pd.read_csv('California_mut5_obs3_2020-01.csv', index_col='change') 

big_slopes_matrix = big_slopes_matrix.applymap(lambda x: ast.literal_eval(x) if pd.notnull(x) else x)

In [6]:
#big_slopes_matrix_clean_row
#big_slopes_matrix_clean_row.iloc[:,3:]

In [7]:
#big_slopes_matrix_clean_row

In [41]:
#FILTERING OF THE BIG SLOPES MATRIX

#columns with only NaNs to be eliminated #https://stackoverflow.com/questions/45147100/pandas-drop-columns-with-all-nans
big_slopes_matrix_clean = big_slopes_matrix.dropna(axis = 1, how = 'all')
#rows with only NaNs to be eliminated
big_slopes_matrix_clean_row = big_slopes_matrix_clean.dropna(axis = 0, how = 'all')

#ciclare colonna per colonna, il df guardato  solo a sx di quella colonna
#parto dalla posizione che mi permette di osserver #obs_periods, quindi se  4 periodi, pardo dalla quarta colonna perch poi devo avere almeno 4 periodi da guardare a sx
for column in big_slopes_matrix_clean_row.iloc[:,obs_periods-1:]:   #big_slopes_matrix_clean_row: 
    
    print('\nObservation point ' + column)
    #sub-dataset sinistro (incluso) alla data espressa da column
    up_to_moment = big_slopes_matrix_clean_row.loc[:,:column]
    #up_to_moment (65, 4)
    print(f'Dataframe dimension: {up_to_moment.shape}')
    
    #in quel df sinistro, butto via chi  gi arrivato a 0.25 (non su tutto il df!)
    #eliminate rows with at least one observazion > 25% https://stackoverflow.com/questions/47914985/drop-a-row-in-a-pandas-dataframe-if-any-column-contains-a-certain-value-in-said
    up_to_moment_below = up_to_moment[~up_to_moment.applymap(lambda x: x[1] >= coeff_threshold if type(x) is tuple else x).any(1)] 
    #up_to_moment_below (58, 4)
    print(f'Dimension without changes over {coeff_threshold*100}%: {up_to_moment_below.shape}')
    
    if ~up_to_moment_below.isnull().all().all():   #se questo dataset sinistro non  gi tutto nullo, andiamo avanti 
        
        #eliminate rows that do not have at least #obs_periods consecutive slopes_observations
        up_to_moment_below_stretch = up_to_moment_below
     
        #for index, row in up_to_moment_below.applymap(lambda x: x[1] if type(x) is tuple else x).iterrows():
        for index, row in up_to_moment_below.iterrows():
            
            gg = up_to_moment_below.loc[index]
            
            if ~gg.isnull().all(): #vado avanti solo per le righe che non sono gi tutte nulle
                m = np.concatenate(( [True], pd.isnull(gg), [True] ))  # Mask
                ss = np.flatnonzero(m[1:] != m[:-1]).reshape(-1,2)   # Start-stop limits
                start,stop = ss[(ss[:,1] - ss[:,0]).argmax()]  # Get max interval, interval limits
                #print(f'{start}, {stop}')
                if stop - start < obs_periods or stop < up_to_moment_below.shape[1] or (up_to_moment_below.loc[index].iloc[-1])[1]<0.1: #https://stackoverflow.com/questions/13842088/set-value-for-particular-cell-in-pandas-dataframe-using-index
                    #droppo le righe che non hanno almeno obs_periods non nulli consecutivi (stop - start < obs_periods)
                    #dropp le righe che hanno lo stretch di obs_periods non all'estremo destro (stop < up_to_moment_below.shape[1])
                    # droppo le righe che non raggiungono il 10% (nell'estremo destro)
                    up_to_moment_below_stretch = up_to_moment_below_stretch.drop(index) 
                    
        if ~up_to_moment_below_stretch.isnull().all().all(): #vado avanti solo se la matrice non  diventata tutta nulla
            #tolgo tutte le righe nulle, rimangono solo quelle interessanti
            #droppa le colonne con tutti null, tenendo solo il treno non nullo pi recente
            up_to_moment_below_stretch = up_to_moment_below_stretch.dropna(axis = 0, how = 'all').dropna(axis = 1, how = 'all')   
            print(f'Dimension without rows w/o {obs_periods} right-most non-null slopes: {up_to_moment_below_stretch.shape}')
            up_to_moment_below_stretch_final = up_to_moment_below_stretch.copy()
            #questa riga aggiunge una colonna, per ciascuna riga la lambda function fa round della slope (z[0]) calcolata da x e y 
            #dove x  un vettore arange fatto con la lunghezza dei numeri not nan della riga e 
            #dove y  un vettore generato da list comprehension di row.dropna prendendo solo gli elementi 0 (perch ho delle tuple)
            up_to_moment_below_stretch_final['slopeofslopes'] = up_to_moment_below_stretch_final.apply(lambda row: round((np.polyfit(np.arange(len(row.dropna())),[x[0] for x in row.dropna()], 1))[0],4), axis = 1)
            
            ##scommentare solo se si commentano tutti i filtri sotto e si vuole stampare la matrice anche con slopofslopes negative
            #up_to_moment_below_stretch_final['ifUK'] = up_to_moment_below_stretch_final.apply(lambda row: up_to_moment_below_stretch_final.index[up_to_moment_below_stretch_final.loc[row]])
            
          #  print(type(variant_dic.get("california")))
          #  print(str(up_to_moment_below_stretch_final.index))
           # up_to_moment_below_stretch_final['known'] = 'UK' if str(up_to_moment_below_stretch_final.index[0]) in  variant_dic.get("uk") else False
            
           # belonging_variants = [a for a, b in variant_dic.items() if column.split(':')[0] in b]
            up_to_moment_below_stretch_final['change_tmp'] = up_to_moment_below_stretch_final.index
            
            #up_to_moment_below_stretch_final['known'] = up_to_moment_below_stretch_final.apply(lambda row: row['change_tmp'],axis=1)
            up_to_moment_below_stretch_final['known'] = up_to_moment_below_stretch_final.apply(lambda row: [a for a, b in variant_dic.items() if row['change_tmp'] in b],axis=1)
            del up_to_moment_below_stretch_final['change_tmp']
            known = up_to_moment_below_stretch_final.pop('known')
            up_to_moment_below_stretch_final.insert(0, 'known', known)
            #up_to_moment_below_stretch_final.insert(0,"isCali",True if str(up_to_moment_below_stretch_final.index[0]) in  variant_dic.get("california") else False)
              
            
            up_to_moment_below_stretch_final
            #Per filtrare le rows con slope of slopes che sta scendendo
            #up_to_moment_below_stretch_final = up_to_moment_below_stretch_final.loc[up_to_moment_below_stretch_final['slopeofslopes']>0]
            #if ~up_to_moment_below_stretch_final.isnull().all().all():
            #    print(f'HERE I CAN THROW AN ALERT FOR AMINO ACID CHANGE(S) {up_to_moment_below_stretch_final.index.values.tolist()}')
            #    #qui ordino le rige per slope of slopes ma devo trovare modo pi sofisticato per clusterizzare quelle simili
            #    up_to_moment_below_stretch_final.sort_values(by='slopeofslopes', ascending=False)

Observation point 2020-04-01|07
Dataframe dimension: (304, 3)
Dimension without changes over 25.0%: (300, 3)

Observation point 2020-04-08|15
Dataframe dimension: (304, 4)
Dimension without changes over 25.0%: (300, 4)

Observation point 2020-04-16|23
Dataframe dimension: (304, 5)
Dimension without changes over 25.0%: (300, 5)
Dimension without rows w/o 3 right-most non-null slopes: (2, 4)

,known,2020-03-24|31,2020-04-01|07,2020-04-08|15,2020-04-16|23,slopeofslopes
change,,,,,,
N_G204R,[br2],"(-0.0993, 0.069, 28)","(-0.3632, 0.0484, 17)","(0.0699, 0.0793, 23)","(0.6289, 0.1704, 46)",0.2618
N_R203K,[br2],"(-0.0993, 0.069, 28)","(-0.3632, 0.0484, 17)","(0.0699, 0.0793, 23)","(0.6289, 0.1704, 46)",0.2618

Observation point 2020-04-24|31
Dataframe dimension: (304, 6)
Dimension without changes over 25.0%: (299, 6)
Dimension without rows w/o 3 right-most non-null slopes: (2, 5)

,known,2020-03-24|31,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,slopeofslopes
change,,,,,,,
N_G204R,[br2],"(-0.0993, 0.069, 28)","(-0.3632, 0.0484, 17)","(0.0699, 0.0793, 23)","(0.6289, 0.1704, 46)","(0.3822, 0.1703, 54)",0.1955
N_R203K,[br2],"(-0.0993, 0.069, 28)","(-0.3632, 0.0484, 17)","(0.0699, 0.0793, 23)","(0.6289, 0.1704, 46)","(0.3822, 0.1703, 54)",0.1955

Observation point 2020-05-01|07
Dataframe dimension: (304, 7)
Dimension without changes over 25.0%: (299, 7)

Observation point 2020-05-08|15
Dataframe dimension: (304, 8)
Dimension without changes over 25.0%: (299, 8)
Dimension without rows w/o 3 right-most non-null slopes: (2, 7)

,known,2020-03-24|31,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,slopeofslopes
change,,,,,,,,,
N_G204R,[br2],"(-0.0993, 0.069, 28)","(-0.3632, 0.0484, 17)","(0.0699, 0.0793, 23)","(0.6289, 0.1704, 46)","(0.3822, 0.1703, 54)","(-0.2928, 0.0949, 24)","(-0.1801, 0.1188, 36)",0.0075
N_R203K,[br2],"(-0.0993, 0.069, 28)","(-0.3632, 0.0484, 17)","(0.0699, 0.0793, 23)","(0.6289, 0.1704, 46)","(0.3822, 0.1703, 54)","(-0.2928, 0.0949, 24)","(-0.1801, 0.1188, 36)",0.0075

Observation point 2020-05-16|23
Dataframe dimension: (304, 9)
Dimension without changes over 25.0%: (299, 9)
Dimension without rows w/o 3 right-most non-null slopes: (4, 8)

,known,2020-03-24|31,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,2020-05-16|23,slopeofslopes
change,,,,,,,,,,
N_G204R,[br2],"(-0.0993, 0.069, 28)","(-0.3632, 0.0484, 17)","(0.0699, 0.0793, 23)","(0.6289, 0.1704, 46)","(0.3822, 0.1703, 54)","(-0.2928, 0.0949, 24)","(-0.1801, 0.1188, 36)","(0.2763, 0.1648, 45)",0.0263
N_R203K,[br2],"(-0.0993, 0.069, 28)","(-0.3632, 0.0484, 17)","(0.0699, 0.0793, 23)","(0.6289, 0.1704, 46)","(0.3822, 0.1703, 54)","(-0.2928, 0.0949, 24)","(-0.1801, 0.1188, 36)","(0.2763, 0.1648, 45)",0.0263
NSP14_A320V,[],NaN,NaN,NaN,NaN,NaN,"(0.0993, 0.0316, 8)","(0.4527, 0.0858, 26)","(0.6999, 0.1282, 35)",0.3003
NSP7_S25L,[],NaN,NaN,NaN,"(-0.0472, 0.0259, 7)","(0.2586, 0.0347, 11)","(0.0993, 0.0316, 8)","(0.4527, 0.0858, 26)","(0.714, 0.1319, 36)",0.1716

Observation point 2020-05-24|31
Dataframe dimension: (304, 10)
Dimension without changes over 25.0%: (297, 10)

Observation point 2020-06-01|07
Dataframe dimension: (304, 11)
Dimension without changes over 25.0%: (297, 11)

Observation point 2020-06-08|15
Dataframe dimension: (304, 12)
Dimension without changes over 25.0%: (297, 12)

Observation point 2020-06-16|23
Dataframe dimension: (304, 13)
Dimension without changes over 25.0%: (297, 13)

Observation point 2020-06-24|31
Dataframe dimension: (304, 14)
Dimension without changes over 25.0%: (297, 14)

Observation point 2020-07-01|07
Dataframe dimension: (304, 15)
Dimension without changes over 25.0%: (297, 15)

Observation point 2020-07-08|15
Dataframe dimension: (304, 16)
Dimension without changes over 25.0%: (297, 16)

Observation point 2020-07-16|23
Dataframe dimension: (304, 17)
Dimension without changes over 25.0%: (297, 17)

Observation point 2020-07-24|31
Dataframe dimension: (304, 18)
Dimension without changes over 25.0%: (297, 18)

Observation point 2020-08-01|07
Dataframe dimension: (304, 19)
Dimension without changes over 25.0%: (297, 19)

Observation point 2020-08-08|15
Dataframe dimension: (304, 20)
Dimension without changes over 25.0%: (297, 20)
Dimension without rows w/o 3 right-most non-null slopes: (1, 3)

,known,2020-07-24|31,2020-08-01|07,2020-08-08|15,slopeofslopes
change,,,,,
NSP16_A34V,[],"(0.5382, 0.0772, 21)","(0.6217, 0.2275, 43)","(0.468, 0.1969, 25)",-0.0351

Observation point 2020-08-16|23
Dataframe dimension: (304, 21)
Dimension without changes over 25.0%: (297, 21)

Observation point 2020-08-24|31
Dataframe dimension: (304, 22)
Dimension without changes over 25.0%: (297, 22)
Dimension without rows w/o 3 right-most non-null slopes: (1, 5)

,known,2020-07-24|31,2020-08-01|07,2020-08-08|15,2020-08-16|23,2020-08-24|31,slopeofslopes
change,,,,,,,
NSP16_A34V,[],"(0.5382, 0.0772, 21)","(0.6217, 0.2275, 43)","(0.468, 0.1969, 25)","(-0.4917, 0.0851, 16)","(-0.0141, 0.1914, 31)",-0.2218

Observation point 2020-09-01|07
Dataframe dimension: (304, 23)
Dimension without changes over 25.0%: (297, 23)

Observation point 2020-09-08|15
Dataframe dimension: (304, 24)
Dimension without changes over 25.0%: (297, 24)

Observation point 2020-09-16|23
Dataframe dimension: (304, 25)
Dimension without changes over 25.0%: (297, 25)

Observation point 2020-09-24|31
Dataframe dimension: (304, 26)
Dimension without changes over 25.0%: (297, 26)

Observation point 2020-10-01|07
Dataframe dimension: (304, 27)
Dimension without changes over 25.0%: (297, 27)

Observation point 2020-10-08|15
Dataframe dimension: (304, 28)
Dimension without changes over 25.0%: (297, 28)

Observation point 2020-10-16|23
Dataframe dimension: (304, 29)
Dimension without changes over 25.0%: (297, 29)
Dimension without rows w/o 3 right-most non-null slopes: (3, 14)

,known,2020-03-24|31,2020-04-01|07,2020-04-08|15,2020-07-01|07,2020-07-08|15,2020-07-16|23,2020-07-24|31,2020-09-01|07,2020-09-08|15,2020-09-16|23,2020-09-24|31,2020-10-01|07,2020-10-08|15,2020-10-16|23,slopeofslopes
change,,,,,,,,,,,,,,,,
NS8_S24L,[4US],"(0.138, 0.0369, 15)","(0.3818, 0.0969, 34)","(-0.0872, 0.031, 9)","(0.4588, 0.0628, 13)","(0.2612, 0.0567, 28)","(-0.1153, 0.0499, 19)","(-0.2164, 0.0368, 10)","(0.41, 0.0725, 15)","(0.0385, 0.0667, 12)","(0.1682, 0.1014, 21)","(-0.1219, 0.0522, 7)","(-0.1345, 0.0775, 10)","(0.2701, 0.0897, 13)","(0.4262, 0.1818, 28)",-0.0030
NSP5_L89F,[4US],NaN,NaN,NaN,NaN,"(0.0403, 0.0364, 18)","(-0.2615, 0.0315, 12)",NaN,NaN,"(-0.1965, 0.0333, 6)","(0.2462, 0.087, 18)","(0.1476, 0.0448, 6)","(-0.1101, 0.0698, 9)","(0.3071, 0.0828, 12)","(0.5298, 0.2013, 31)",0.0765
N_T205I,"[ny5, sa]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.4574, 0.1085, 14)","(0.3416, 0.2069, 30)","(0.0898, 0.1299, 20)",-0.1838

Observation point 2020-10-24|31
Dataframe dimension: (304, 30)
Dimension without changes over 25.0%: (297, 30)

Observation point 2020-11-01|07
Dataframe dimension: (304, 31)
Dimension without changes over 25.0%: (297, 31)
Dimension without rows w/o 3 right-most non-null slopes: (8, 16)

,known,2020-03-24|31,2020-04-01|07,2020-04-08|15,2020-07-01|07,2020-07-08|15,2020-07-16|23,2020-07-24|31,2020-09-01|07,2020-09-08|15,2020-09-16|23,2020-09-24|31,2020-10-01|07,2020-10-08|15,2020-10-16|23,2020-10-24|31,2020-11-01|07,slopeofslopes
change,,,,,,,,,,,,,,,,,,
N_P199L,[4US],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.1733, 0.0611, 11)","(0.2462, 0.087, 18)",NaN,NaN,NaN,"(0.5457, 0.2078, 32)","(-0.2294, 0.0479, 7)","(0.0217, 0.217, 51)",-0.0779
N_P67S,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.1257, 0.0556, 10)","(0.2177, 0.0821, 17)",NaN,NaN,NaN,"(0.4454, 0.2078, 32)","(-0.35, 0.0479, 7)","(0.0118, 0.2128, 50)",-0.0796
NS3_G172V,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.2504, 0.0611, 11)","(0.2939, 0.087, 18)",NaN,NaN,NaN,"(0.5298, 0.2013, 31)","(-0.2294, 0.0479, 7)","(0.0176, 0.2085, 49)",-0.0989
NS8_S24L,[4US],"(0.138, 0.0369, 15)","(0.3818, 0.0969, 34)","(-0.0872, 0.031, 9)","(0.4588, 0.0628, 13)","(0.2612, 0.0567, 28)","(-0.1153, 0.0499, 19)","(-0.2164, 0.0368, 10)","(0.41, 0.0725, 15)","(0.0385, 0.0667, 12)","(0.1682, 0.1014, 21)","(-0.1219, 0.0522, 7)","(-0.1345, 0.0775, 10)","(0.2701, 0.0897, 13)","(0.4262, 0.1818, 28)","(-0.1873, 0.0616, 9)","(0.1077, 0.2255, 53)",-0.0087
NSP14_N129D,[4US],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.1257, 0.0556, 10)","(0.2462, 0.087, 18)",NaN,NaN,NaN,"(0.5298, 0.2013, 31)","(-0.2294, 0.0479, 7)","(0.0277, 0.2128, 50)",-0.0672
NSP16_R216C,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.1257, 0.0556, 10)","(0.1206, 0.0676, 14)",NaN,NaN,NaN,"(0.4789, 0.1818, 28)","(-0.313, 0.0479, 7)","(0.0582, 0.2043, 48)",-0.0569
NSP5_L89F,[4US],NaN,NaN,NaN,NaN,"(0.0403, 0.0364, 18)","(-0.2615, 0.0315, 12)",NaN,NaN,"(-0.1965, 0.0333, 6)","(0.2462, 0.087, 18)","(0.1476, 0.0448, 6)","(-0.1101, 0.0698, 9)","(0.3071, 0.0828, 12)","(0.5298, 0.2013, 31)","(-0.2062, 0.0548, 8)","(-0.014, 0.1957, 46)",0.0209
N_T205I,"[ny5, sa]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.4574, 0.1085, 14)","(0.3416, 0.2069, 30)","(0.0898, 0.1299, 20)","(-0.6643, 0.0548, 8)","(-0.0255, 0.1234, 29)",-0.1972

Observation point 2020-11-08|15
Dataframe dimension: (304, 32)
Dimension without changes over 25.0%: (290, 32)
Dimension without rows w/o 3 right-most non-null slopes: (1, 6)

,known,2020-10-01|07,2020-10-08|15,2020-10-16|23,2020-10-24|31,2020-11-01|07,2020-11-08|15,slopeofslopes
change,,,,,,,,
N_T205I,"[ny5, sa]","(0.4574, 0.1085, 14)","(0.3416, 0.2069, 30)","(0.0898, 0.1299, 20)","(-0.6643, 0.0548, 8)","(-0.0255, 0.1234, 29)","(0.4256, 0.1284, 43)",-0.0576

Observation point 2020-11-16|23
Dataframe dimension: (304, 33)
Dimension without changes over 25.0%: (290, 33)

Observation point 2020-11-24|31
Dataframe dimension: (304, 34)
Dimension without changes over 25.0%: (290, 34)
Dimension without rows w/o 3 right-most non-null slopes: (1, 8)

,known,2020-10-01|07,2020-10-08|15,2020-10-16|23,2020-10-24|31,2020-11-01|07,2020-11-08|15,2020-11-16|23,2020-11-24|31,slopeofslopes
change,,,,,,,,,,
N_T205I,"[ny5, sa]","(0.4574, 0.1085, 14)","(0.3416, 0.2069, 30)","(0.0898, 0.1299, 20)","(-0.6643, 0.0548, 8)","(-0.0255, 0.1234, 29)","(0.4256, 0.1284, 43)","(-0.175, 0.087, 58)","(0.1421, 0.1706, 139)",-0.0374

Observation point 2020-12-01|07
Dataframe dimension: (304, 35)
Dimension without changes over 25.0%: (290, 35)
Dimension without rows w/o 3 right-most non-null slopes: (5, 10)

,known,2020-05-01|07,2020-10-01|07,2020-10-08|15,2020-10-16|23,2020-10-24|31,2020-11-01|07,2020-11-08|15,2020-11-16|23,2020-11-24|31,2020-12-01|07,slopeofslopes
change,,,,,,,,,,,,
NSP13_D260Y,[ca],"(-0.4579, 0.0237, 6)",NaN,NaN,NaN,NaN,NaN,NaN,"(-0.1012, 0.0765, 51)","(0.1048, 0.1472, 120)","(0.2598, 0.1286, 104)",0.2359
N_T205I,"[ny5, sa]",NaN,"(0.4574, 0.1085, 14)","(0.3416, 0.2069, 30)","(0.0898, 0.1299, 20)","(-0.6643, 0.0548, 8)","(-0.0255, 0.1234, 29)","(0.4256, 0.1284, 43)","(-0.175, 0.087, 58)","(0.1421, 0.1706, 139)","(0.2544, 0.1446, 117)",-0.0142
Spike_L452R,[ca],NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(-0.142, 0.0705, 47)","(0.1174, 0.1472, 120)","(0.2958, 0.1273, 103)",0.2189
Spike_S13I,[ca],NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(-0.2007, 0.057, 38)","(0.0835, 0.1129, 92)","(0.3563, 0.1162, 94)",0.2785
Spike_W152C,[ca],NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(-0.142, 0.0705, 47)","(0.1004, 0.1387, 113)","(0.2958, 0.1273, 103)",0.2189

Observation point 2020-12-08|15
Dataframe dimension: (304, 36)
Dimension without changes over 25.0%: (289, 36)
Dimension without rows w/o 3 right-most non-null slopes: (5, 5)

,known,2020-05-01|07,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,slopeofslopes
change,,,,,,,
NSP13_D260Y,[ca],"(-0.4579, 0.0237, 6)","(-0.1012, 0.0765, 51)","(0.1048, 0.1472, 120)","(0.2598, 0.1286, 104)","(0.0889, 0.1759, 159)",0.1455
NSP9_I65V,[ca],NaN,"(-0.2418, 0.0525, 35)","(-0.1236, 0.0933, 76)","(0.2429, 0.0853, 69)","(0.0702, 0.1073, 97)",0.1303
Spike_L452R,[ca],NaN,"(-0.142, 0.0705, 47)","(0.1174, 0.1472, 120)","(0.2958, 0.1273, 103)","(0.092, 0.177, 160)",0.0880
Spike_S13I,[ca],NaN,"(-0.2007, 0.057, 38)","(0.0835, 0.1129, 92)","(0.3563, 0.1162, 94)","(0.1287, 0.146, 132)",0.1261
Spike_W152C,[ca],NaN,"(-0.142, 0.0705, 47)","(0.1004, 0.1387, 113)","(0.2958, 0.1273, 103)","(0.1126, 0.1737, 157)",0.0959

Observation point 2020-12-16|23
Dataframe dimension: (304, 37)
Dimension without changes over 25.0%: (289, 37)
Dimension without rows w/o 3 right-most non-null slopes: (5, 6)

,known,2020-05-01|07,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,slopeofslopes
change,,,,,,,,
NSP13_D260Y,[ca],"(-0.4579, 0.0237, 6)","(-0.1012, 0.0765, 51)","(0.1048, 0.1472, 120)","(0.2598, 0.1286, 104)","(0.0889, 0.1759, 159)","(0.3151, 0.2414, 295)",0.1312
NSP9_I65V,[ca],NaN,"(-0.2418, 0.0525, 35)","(-0.1236, 0.0933, 76)","(0.2429, 0.0853, 69)","(0.0702, 0.1073, 97)","(0.2896, 0.1522, 186)",0.1257
Spike_L452R,[ca],NaN,"(-0.142, 0.0705, 47)","(0.1174, 0.1472, 120)","(0.2958, 0.1273, 103)","(0.092, 0.177, 160)","(0.3283, 0.2455, 300)",0.0915
Spike_S13I,[ca],NaN,"(-0.2007, 0.057, 38)","(0.0835, 0.1129, 92)","(0.3563, 0.1162, 94)","(0.1287, 0.146, 132)","(0.2624, 0.1964, 240)",0.0971
Spike_W152C,[ca],NaN,"(-0.142, 0.0705, 47)","(0.1004, 0.1387, 113)","(0.2958, 0.1273, 103)","(0.1126, 0.1737, 157)","(0.3182, 0.2406, 294)",0.0933

Observation point 2020-12-24|31
Dataframe dimension: (304, 38)
Dimension without changes over 25.0%: (284, 38)
Dimension without rows w/o 3 right-most non-null slopes: (2, 4)

,known,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,slopeofslopes
change,,,,,,
NSP13_P53L,[],"(0.3471, 0.042, 34)","(0.1311, 0.0686, 62)","(0.3808, 0.09, 110)","(0.1967, 0.1016, 124)",-0.0202
NSP4_S395T,[],"(0.3471, 0.042, 34)","(0.1509, 0.0697, 63)","(0.3854, 0.0908, 111)","(0.1806, 0.1, 122)",-0.0265

Observation point 2021-01-01|07
Dataframe dimension: (304, 39)
Dimension without changes over 25.0%: (284, 39)
Dimension without rows w/o 3 right-most non-null slopes: (2, 5)

,known,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,slopeofslopes
change,,,,,,,
NSP13_P53L,[],"(0.3471, 0.042, 34)","(0.1311, 0.0686, 62)","(0.3808, 0.09, 110)","(0.1967, 0.1016, 124)","(0.1871, 0.1309, 142)",-0.0254
NSP4_S395T,[],"(0.3471, 0.042, 34)","(0.1509, 0.0697, 63)","(0.3854, 0.0908, 111)","(0.1806, 0.1, 122)","(0.1826, 0.1309, 142)",-0.0299

Observation point 2021-01-08|15
Dataframe dimension: (304, 40)
Dimension without changes over 25.0%: (284, 40)
Dimension without rows w/o 3 right-most non-null slopes: (3, 8)

,known,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,slopeofslopes
change,,,,,,,,,,
N_M234I,[br2],"(-0.2662, 0.0225, 15)","(-0.1369, 0.0454, 37)","(0.1172, 0.0284, 23)","(0.1815, 0.0653, 59)","(0.4474, 0.0696, 85)","(0.05, 0.0721, 88)","(0.1457, 0.0931, 101)","(0.1644, 0.1002, 189)",0.0535
NSP13_P53L,[],NaN,NaN,"(0.3471, 0.042, 34)","(0.1311, 0.0686, 62)","(0.3808, 0.09, 110)","(0.1967, 0.1016, 124)","(0.1871, 0.1309, 142)","(0.3513, 0.2052, 387)",0.0001
NSP4_S395T,[],NaN,NaN,"(0.3471, 0.042, 34)","(0.1509, 0.0697, 63)","(0.3854, 0.0908, 111)","(0.1806, 0.1, 122)","(0.1826, 0.1309, 142)","(0.3581, 0.2047, 386)",-0.0016

Observation point 2021-01-16|23
Dataframe dimension: (304, 41)
Dimension without changes over 25.0%: (284, 41)
Dimension without rows w/o 3 right-most non-null slopes: (3, 9)

,known,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,slopeofslopes
change,,,,,,,,,,,
N_M234I,[br2],"(-0.2662, 0.0225, 15)","(-0.1369, 0.0454, 37)","(0.1172, 0.0284, 23)","(0.1815, 0.0653, 59)","(0.4474, 0.0696, 85)","(0.05, 0.0721, 88)","(0.1457, 0.0931, 101)","(0.1644, 0.1002, 189)","(0.0932, 0.1122, 167)",0.0378
NSP13_P53L,[],NaN,NaN,"(0.3471, 0.042, 34)","(0.1311, 0.0686, 62)","(0.3808, 0.09, 110)","(0.1967, 0.1016, 124)","(0.1871, 0.1309, 142)","(0.3513, 0.2052, 387)","(0.2124, 0.2001, 298)",-0.0056
NSP4_S395T,[],NaN,NaN,"(0.3471, 0.042, 34)","(0.1509, 0.0697, 63)","(0.3854, 0.0908, 111)","(0.1806, 0.1, 122)","(0.1826, 0.1309, 142)","(0.3581, 0.2047, 386)","(0.2039, 0.1968, 293)",-0.0078

Observation point 2021-01-24|31
Dataframe dimension: (304, 42)
Dimension without changes over 25.0%: (284, 42)
Dimension without rows w/o 3 right-most non-null slopes: (4, 10)

,known,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,slopeofslopes
change,,,,,,,,,,,,
N_M234I,[br2],"(-0.2662, 0.0225, 15)","(-0.1369, 0.0454, 37)","(0.1172, 0.0284, 23)","(0.1815, 0.0653, 59)","(0.4474, 0.0696, 85)","(0.05, 0.0721, 88)","(0.1457, 0.0931, 101)","(0.1644, 0.1002, 189)","(0.0932, 0.1122, 167)","(0.2896, 0.1789, 494)",0.0384
NS8_V100L,[],NaN,"(-0.1891, 0.0123, 10)",NaN,NaN,NaN,"(0.4238, 0.0516, 63)","(0.2424, 0.0571, 62)","(0.0699, 0.0594, 112)","(0.0907, 0.0685, 102)","(0.4054, 0.1336, 369)",0.0514
NSP13_P53L,[],NaN,NaN,"(0.3471, 0.042, 34)","(0.1311, 0.0686, 62)","(0.3808, 0.09, 110)","(0.1967, 0.1016, 124)","(0.1871, 0.1309, 142)","(0.3513, 0.2052, 387)","(0.2124, 0.2001, 298)","(-0.1054, 0.1662, 459)",-0.0340
NSP4_S395T,[],NaN,NaN,"(0.3471, 0.042, 34)","(0.1509, 0.0697, 63)","(0.3854, 0.0908, 111)","(0.1806, 0.1, 122)","(0.1826, 0.1309, 142)","(0.3581, 0.2047, 386)","(0.2039, 0.1968, 293)","(-0.1163, 0.1622, 448)",-0.0364

Observation point 2021-02-01|07
Dataframe dimension: (304, 43)
Dimension without changes over 25.0%: (284, 43)
Dimension without rows w/o 3 right-most non-null slopes: (4, 11)

,known,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,2021-02-01|07,slopeofslopes
change,,,,,,,,,,,,,
N_M234I,[br2],"(-0.2662, 0.0225, 15)","(-0.1369, 0.0454, 37)","(0.1172, 0.0284, 23)","(0.1815, 0.0653, 59)","(0.4474, 0.0696, 85)","(0.05, 0.0721, 88)","(0.1457, 0.0931, 101)","(0.1644, 0.1002, 189)","(0.0932, 0.1122, 167)","(0.2896, 0.1789, 494)","(0.2488, 0.1845, 371)",0.0352
NS8_V100L,[],NaN,"(-0.1891, 0.0123, 10)",NaN,NaN,NaN,"(0.4238, 0.0516, 63)","(0.2424, 0.0571, 62)","(0.0699, 0.0594, 112)","(0.0907, 0.0685, 102)","(0.4054, 0.1336, 369)","(0.3059, 0.1263, 254)",0.0463
NSP13_P53L,[],NaN,NaN,"(0.3471, 0.042, 34)","(0.1311, 0.0686, 62)","(0.3808, 0.09, 110)","(0.1967, 0.1016, 124)","(0.1871, 0.1309, 142)","(0.3513, 0.2052, 387)","(0.2124, 0.2001, 298)","(-0.1054, 0.1662, 459)","(-0.0106, 0.1959, 394)",-0.0387
NSP4_S395T,[],NaN,NaN,"(0.3471, 0.042, 34)","(0.1509, 0.0697, 63)","(0.3854, 0.0908, 111)","(0.1806, 0.1, 122)","(0.1826, 0.1309, 142)","(0.3581, 0.2047, 386)","(0.2039, 0.1968, 293)","(-0.1163, 0.1622, 448)","(-0.0047, 0.1949, 392)",-0.0399

Observation point 2021-02-08|15
Dataframe dimension: (304, 44)
Dimension without changes over 25.0%: (284, 44)
Dimension without rows w/o 3 right-most non-null slopes: (4, 12)

,known,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,slopeofslopes
change,,,,,,,,,,,,,,
N_M234I,[br2],"(-0.2662, 0.0225, 15)","(-0.1369, 0.0454, 37)","(0.1172, 0.0284, 23)","(0.1815, 0.0653, 59)","(0.4474, 0.0696, 85)","(0.05, 0.0721, 88)","(0.1457, 0.0931, 101)","(0.1644, 0.1002, 189)","(0.0932, 0.1122, 167)","(0.2896, 0.1789, 494)","(0.2488, 0.1845, 371)","(0.1128, 0.2241, 420)",0.0268
NS8_V100L,[],NaN,"(-0.1891, 0.0123, 10)",NaN,NaN,NaN,"(0.4238, 0.0516, 63)","(0.2424, 0.0571, 62)","(0.0699, 0.0594, 112)","(0.0907, 0.0685, 102)","(0.4054, 0.1336, 369)","(0.3059, 0.1263, 254)","(0.1052, 0.1649, 309)",0.0236
NSP13_P53L,[],NaN,NaN,"(0.3471, 0.042, 34)","(0.1311, 0.0686, 62)","(0.3808, 0.09, 110)","(0.1967, 0.1016, 124)","(0.1871, 0.1309, 142)","(0.3513, 0.2052, 387)","(0.2124, 0.2001, 298)","(-0.1054, 0.1662, 459)","(-0.0106, 0.1959, 394)","(-0.0055, 0.1644, 308)",-0.0387
NSP4_S395T,[],NaN,NaN,"(0.3471, 0.042, 34)","(0.1509, 0.0697, 63)","(0.3854, 0.0908, 111)","(0.1806, 0.1, 122)","(0.1826, 0.1309, 142)","(0.3581, 0.2047, 386)","(0.2039, 0.1968, 293)","(-0.1163, 0.1622, 448)","(-0.0047, 0.1949, 392)","(-0.0016, 0.1617, 303)",-0.0393

Observation point 2021-02-16|23
Dataframe dimension: (304, 45)
Dimension without changes over 25.0%: (284, 45)
Dimension without rows w/o 3 right-most non-null slopes: (4, 13)

,known,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,2021-02-16|23,slopeofslopes
change,,,,,,,,,,,,,,,
N_M234I,[br2],"(-0.2662, 0.0225, 15)","(-0.1369, 0.0454, 37)","(0.1172, 0.0284, 23)","(0.1815, 0.0653, 59)","(0.4474, 0.0696, 85)","(0.05, 0.0721, 88)","(0.1457, 0.0931, 101)","(0.1644, 0.1002, 189)","(0.0932, 0.1122, 167)","(0.2896, 0.1789, 494)","(0.2488, 0.1845, 371)","(0.1128, 0.2241, 420)","(0.0779, 0.2156, 141)",0.0196
NS8_V100L,[],NaN,"(-0.1891, 0.0123, 10)",NaN,NaN,NaN,"(0.4238, 0.0516, 63)","(0.2424, 0.0571, 62)","(0.0699, 0.0594, 112)","(0.0907, 0.0685, 102)","(0.4054, 0.1336, 369)","(0.3059, 0.1263, 254)","(0.1052, 0.1649, 309)","(0.1152, 0.159, 104)",0.0121
NSP13_P53L,[],NaN,NaN,"(0.3471, 0.042, 34)","(0.1311, 0.0686, 62)","(0.3808, 0.09, 110)","(0.1967, 0.1016, 124)","(0.1871, 0.1309, 142)","(0.3513, 0.2052, 387)","(0.2124, 0.2001, 298)","(-0.1054, 0.1662, 459)","(-0.0106, 0.1959, 394)","(-0.0055, 0.1644, 308)","(0.0407, 0.2125, 139)",-0.0348
NSP4_S395T,[],NaN,NaN,"(0.3471, 0.042, 34)","(0.1509, 0.0697, 63)","(0.3854, 0.0908, 111)","(0.1806, 0.1, 122)","(0.1826, 0.1309, 142)","(0.3581, 0.2047, 386)","(0.2039, 0.1968, 293)","(-0.1163, 0.1622, 448)","(-0.0047, 0.1949, 392)","(-0.0016, 0.1617, 303)","(0.0323, 0.208, 136)",-0.0357

Observation point 2021-02-24|31
Dataframe dimension: (304, 46)
Dimension without changes over 25.0%: (284, 46)
Dimension without rows w/o 3 right-most non-null slopes: (6, 15)

,known,2020-09-01|07,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,2021-02-16|23,2021-02-24|31,slopeofslopes
change,,,,,,,,,,,,,,,,,
N_M234I,[br2],NaN,"(-0.2662, 0.0225, 15)","(-0.1369, 0.0454, 37)","(0.1172, 0.0284, 23)","(0.1815, 0.0653, 59)","(0.4474, 0.0696, 85)","(0.05, 0.0721, 88)","(0.1457, 0.0931, 101)","(0.1644, 0.1002, 189)","(0.0932, 0.1122, 167)","(0.2896, 0.1789, 494)","(0.2488, 0.1845, 371)","(0.1128, 0.2241, 420)","(0.0779, 0.2156, 141)","(-0.0121, 0.2188, 91)",0.0120
NS8_V100L,[],NaN,NaN,"(-0.1891, 0.0123, 10)",NaN,NaN,NaN,"(0.4238, 0.0516, 63)","(0.2424, 0.0571, 62)","(0.0699, 0.0594, 112)","(0.0907, 0.0685, 102)","(0.4054, 0.1336, 369)","(0.3059, 0.1263, 254)","(0.1052, 0.1649, 309)","(0.1152, 0.159, 104)","(0.0311, 0.1755, 73)",0.0010
NSP13_P53L,[],NaN,NaN,NaN,"(0.3471, 0.042, 34)","(0.1311, 0.0686, 62)","(0.3808, 0.09, 110)","(0.1967, 0.1016, 124)","(0.1871, 0.1309, 142)","(0.3513, 0.2052, 387)","(0.2124, 0.2001, 298)","(-0.1054, 0.1662, 459)","(-0.0106, 0.1959, 394)","(-0.0055, 0.1644, 308)","(0.0407, 0.2125, 139)","(-0.0489, 0.149, 62)",-0.0347
NSP4_S395T,[],NaN,NaN,NaN,"(0.3471, 0.042, 34)","(0.1509, 0.0697, 63)","(0.3854, 0.0908, 111)","(0.1806, 0.1, 122)","(0.1826, 0.1309, 142)","(0.3581, 0.2047, 386)","(0.2039, 0.1968, 293)","(-0.1163, 0.1622, 448)","(-0.0047, 0.1949, 392)","(-0.0016, 0.1617, 303)","(0.0323, 0.208, 136)","(-0.0327, 0.1514, 63)",-0.0347
NSP5_T196M,[],NaN,NaN,NaN,NaN,NaN,"(-0.2062, 0.0074, 9)","(0.6548, 0.0246, 30)","(0.5703, 0.023, 25)","(0.0172, 0.0255, 48)","(0.0891, 0.0275, 41)","(0.3409, 0.0503, 139)","(0.2429, 0.0448, 90)","(0.0584, 0.0566, 106)","(0.06, 0.0505, 33)","(0.3769, 0.1202, 50)",-0.0033
Spike_P681H,[uk],"(-0.4615, 0.0338, 7)",NaN,NaN,"(0.2901, 0.0321, 26)","(0.2577, 0.0144, 13)","(-0.1692, 0.0229, 28)","(0.6231, 0.05, 61)","(0.5317, 0.0664, 72)","(0.0293, 0.053, 100)","(-0.0694, 0.0578, 86)","(-0.1209, 0.0416, 115)","(0.0525, 0.0641, 129)","(0.2887, 0.0742, 139)","(0.1533, 0.0872, 57)","(0.3325, 0.1442, 60)",0.0153

Observation point 2021-03-01|07
Dataframe dimension: (304, 47)
Dimension without changes over 25.0%: (284, 47)
Dimension without rows w/o 3 right-most non-null slopes: (5, 16)

,known,2020-09-01|07,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,2021-02-16|23,2021-02-24|31,2021-03-01|07,slopeofslopes
change,,,,,,,,,,,,,,,,,,
N_M234I,[br2],NaN,"(-0.2662, 0.0225, 15)","(-0.1369, 0.0454, 37)","(0.1172, 0.0284, 23)","(0.1815, 0.0653, 59)","(0.4474, 0.0696, 85)","(0.05, 0.0721, 88)","(0.1457, 0.0931, 101)","(0.1644, 0.1002, 189)","(0.0932, 0.1122, 167)","(0.2896, 0.1789, 494)","(0.2488, 0.1845, 371)","(0.1128, 0.2241, 420)","(0.0779, 0.2156, 141)","(-0.0121, 0.2188, 91)","(0.0557, 0.241, 114)",0.0084
NS8_V100L,[],NaN,NaN,"(-0.1891, 0.0123, 10)",NaN,NaN,NaN,"(0.4238, 0.0516, 63)","(0.2424, 0.0571, 62)","(0.0699, 0.0594, 112)","(0.0907, 0.0685, 102)","(0.4054, 0.1336, 369)","(0.3059, 0.1263, 254)","(0.1052, 0.1649, 309)","(0.1152, 0.159, 104)","(0.0311, 0.1755, 73)","(0.0308, 0.1691, 80)",-0.0052
NSP13_P53L,[],NaN,NaN,NaN,"(0.3471, 0.042, 34)","(0.1311, 0.0686, 62)","(0.3808, 0.09, 110)","(0.1967, 0.1016, 124)","(0.1871, 0.1309, 142)","(0.3513, 0.2052, 387)","(0.2124, 0.2001, 298)","(-0.1054, 0.1662, 459)","(-0.0106, 0.1959, 394)","(-0.0055, 0.1644, 308)","(0.0407, 0.2125, 139)","(-0.0489, 0.149, 62)","(-0.1739, 0.1501, 71)",-0.0376
NSP4_S395T,[],NaN,NaN,NaN,"(0.3471, 0.042, 34)","(0.1509, 0.0697, 63)","(0.3854, 0.0908, 111)","(0.1806, 0.1, 122)","(0.1826, 0.1309, 142)","(0.3581, 0.2047, 386)","(0.2039, 0.1968, 293)","(-0.1163, 0.1622, 448)","(-0.0047, 0.1949, 392)","(-0.0016, 0.1617, 303)","(0.0323, 0.208, 136)","(-0.0327, 0.1514, 63)","(-0.1701, 0.148, 70)",-0.0375
Spike_P681H,[uk],"(-0.4615, 0.0338, 7)",NaN,NaN,"(0.2901, 0.0321, 26)","(0.2577, 0.0144, 13)","(-0.1692, 0.0229, 28)","(0.6231, 0.05, 61)","(0.5317, 0.0664, 72)","(0.0293, 0.053, 100)","(-0.0694, 0.0578, 86)","(-0.1209, 0.0416, 115)","(0.0525, 0.0641, 129)","(0.2887, 0.0742, 139)","(0.1533, 0.0872, 57)","(0.3325, 0.1442, 60)","(0.1877, 0.1268, 60)",0.0138

In [19]:
type(up_to_moment_below_stretch_final['slopeofslopes'])

pandas.core.series.Series

In [138]:
#stampa grafico solo per quel triangolino (fare grafico delle slope-delle-slopes? cosi si vede le variazioni delle variazioni (derivata seconda))

#vedi chi sono queste per cui d un alert.(rimangono solo le 5 californiane?)
#vedo se all'inizio prevedo la 3/4 americana e la 5-8th!