Notebook to read the csv file and analyze it

In [9]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import sqlalchemy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from itertools import *
from adjustText import adjust_text
import ast

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [10]:
variant_dic = {
    #B.1.1.7/501Y.V1
    "uk":['NSP3_T183I','NSP3_A890D','NSP3_I1412T','NSP6_S106-','NSP6_G107-','NSP6_F108-', 'Spike_Y144-','Spike_H69-','Spike_V70-','Spike_N501Y','Spike_A570D','Spike_P681H','Spike_T716I','Spike_S982A','Spike_D1118H','NS8_Q27*','NS8_R52I','NS8_Y73C','N_D3L','N_S235F'],
    #B.1.351/501Y.V2
    "southafrica":['E_P71L','N_T205I','NSP3_K837N','Spike_D80A','Spike_D215G','Spike_K417N','Spike_A701V','Spike_N501Y','Spike_E484K'],
    #P.1/variant
    "brazil":['NSP3_S370L','NSP3_K977Q','NSP6_S106_','NSP6_G107_','NSP6_F108_','Spike_L18F','Spike_T20N','Spike_P26S','Spike_D138Y','Spike_R190S','Spike_K417T','Spike_E484K','Spike_N501Y','Spike_H655Y','Spike_T1027I','NS3_G174C','NS8_E92K','N_P80R'],
    #A.23.1
    "uganda":['Spike_F157L','Spike_V367F','Spike_Q613H','Spike_P681R'],
    #B.1.525
    "nigeria":['NSP12_P323L','Spike_Q52R','Spike_E484K','Spike_Q677H','Spike_F888L','E_L21F','E_I82T','NSP6_S106_','NSP6_G107_','NSP6_F108_','Spike_H69-','Spike_V70-','N_S2-'],
    #B.1.429
    "california":['NSP9_I65V','NSP13_D260Y','Spike_S13I','Spike_W152C','Spike_L452R'],
    #minks
    "cluster5":['Spike_H69-','Spike_V70-','Spike_Y453F','Spike_I692V','Spike_S1147L','Spike_M1229I'],
    #4US
    "4US":['NS8_S24L','NSP5_L89F','N_P199L','NSP14_N129D'],
    #indianI/A3i
    "indianI/A3i":['NSP6_L37F','NSP12_A97V','N_P13L','NSP3_T1198K'],
    #indian_new
    'indian_new':['Spike_N440K']
    
}

In [11]:
engine = sqlalchemy.create_engine(
    sqlalchemy.engine.url.URL(
        drivername="postgresql",
        username="geco",
        password="geco78",
        host="localhost",
        port="5432",
        database="vcm_gisaid_du_2"
    ),
    echo_pool=True,
)

print("connecting with engine " + str(engine))
connection = engine.connect()

#connection.close()
#engine.dispose()

connecting with engine Engine(postgresql://geco:***@localhost:5432/vcm_gisaid_du_2)

In [18]:
obs_periods = 3
coeff_threshold = 0.25

In [19]:
big_slopes_matrix = pd.read_csv('Switzerland_mut10_obs4_2020-01__2022-01.csv', index_col='change') 

big_slopes_matrix = big_slopes_matrix.applymap(lambda x: ast.literal_eval(x) if pd.notnull(x) else x)

In [14]:
#big_slopes_matrix_clean_row
#big_slopes_matrix_clean_row.iloc[:,3:]

In [15]:
#big_slopes_matrix_clean_row

In [20]:
#FILTERING OF THE BIG SLOPES MATRIX

#columns with only NaNs to be eliminated #https://stackoverflow.com/questions/45147100/pandas-drop-columns-with-all-nans
big_slopes_matrix_clean = big_slopes_matrix.dropna(axis = 1, how = 'all')
#rows with only NaNs to be eliminated
big_slopes_matrix_clean_row = big_slopes_matrix_clean.dropna(axis = 0, how = 'all')

#ciclare colonna per colonna, il df guardato è solo a sx di quella colonna
#parto dalla posizione che mi permette di osserver #obs_periods, quindi se è 4 periodi, pardo dalla quarta colonna perchè poi devo avere almeno 4 periodi da guardare a sx
for column in big_slopes_matrix_clean_row.iloc[:,obs_periods-1:]:   #big_slopes_matrix_clean_row: 
    
    print('\nObservation point ' + column)
    #sub-dataset sinistro (incluso) alla data espressa da column
    up_to_moment = big_slopes_matrix_clean_row.loc[:,:column]
    #up_to_moment (65, 4)
    print(f'Dataframe dimension: {up_to_moment.shape}')
    
    #in quel df sinistro, butto via chi è già arrivato a 0.25 (non su tutto il df!)
    #eliminate rows with at least one observazion > 25% https://stackoverflow.com/questions/47914985/drop-a-row-in-a-pandas-dataframe-if-any-column-contains-a-certain-value-in-said
    up_to_moment_below = up_to_moment[~up_to_moment.applymap(lambda x: x[1] >= coeff_threshold if type(x) is tuple else x).any(1)] 
    #up_to_moment_below (58, 4)
    print(f'Dimension without changes over {coeff_threshold*100}%: {up_to_moment_below.shape}')
    
    if ~up_to_moment_below.isnull().all().all():   #se questo dataset sinistro non è già tutto nullo, andiamo avanti 
        
        #eliminate rows that do not have at least #obs_periods consecutive slopes_observations
        up_to_moment_below_stretch = up_to_moment_below
     
        #for index, row in up_to_moment_below.applymap(lambda x: x[1] if type(x) is tuple else x).iterrows():
        for index, row in up_to_moment_below.iterrows():
            
            gg = up_to_moment_below.loc[index]
            
            if ~gg.isnull().all(): #vado avanti solo per le righe che non sono già tutte nulle
                m = np.concatenate(( [True], pd.isnull(gg), [True] ))  # Mask
                ss = np.flatnonzero(m[1:] != m[:-1]).reshape(-1,2)   # Start-stop limits
                start,stop = ss[(ss[:,1] - ss[:,0]).argmax()]  # Get max interval, interval limits
                #print(f'{start}, {stop}')
                if stop - start < obs_periods or stop < up_to_moment_below.shape[1] or (up_to_moment_below.loc[index].iloc[-1])[1]<0.1: #https://stackoverflow.com/questions/13842088/set-value-for-particular-cell-in-pandas-dataframe-using-index
                    #droppo le righe che non hanno almeno obs_periods non nulli (stop - start < obs_periods)
                    #oppure che hanno lo stretch di obs_periods non all'estremo destro (stop < up_to_moment_below.shape[1])
                    up_to_moment_below_stretch = up_to_moment_below_stretch.drop(index) 
                    
        if ~up_to_moment_below_stretch.isnull().all().all(): #vado avanti solo se la matrice non è diventata tutta nulla
            #tolgo tutte le righe nulle, rimangono solo quelle interessanti
            #droppa le colonne con tutti null, tenendo solo il treno non nullo più recente
            up_to_moment_below_stretch = up_to_moment_below_stretch.dropna(axis = 0, how = 'all').dropna(axis = 1, how = 'all')   
            print(f'Dimension without rows w/o {obs_periods} right-most non-null slopes: {up_to_moment_below_stretch.shape}')
            up_to_moment_below_stretch_final = up_to_moment_below_stretch.copy()
            #questa riga aggiunge una colonna, per ciascuna riga la lambda function fa round della slope (z[0]) calcolata da x e y 
            #dove x è un vettore arange fatto con la lunghezza dei numeri not nan della riga e 
            #dove y è un vettore generato da list comprehension di row.dropna prendendo solo gli elementi 0 (perchè ho delle tuple)
            up_to_moment_below_stretch_final['slopeofslopes'] = up_to_moment_below_stretch_final.apply(lambda row: round((np.polyfit(np.arange(len(row.dropna())),[x[0] for x in row.dropna()], 1))[0],4), axis = 1)
            
            ##scommentare solo se si commentano tutti i filtri sotto e si vuole stampare la matrice anche con slopofslopes negative
            #up_to_moment_below_stretch_final['ifUK'] = up_to_moment_below_stretch_final.apply(lambda row: up_to_moment_below_stretch_final.index[up_to_moment_below_stretch_final.loc[row]])
            
            print(type(variant_dic.get("uk")))
            print(str(up_to_moment_below_stretch_final.index))
            #up_to_moment_below_stretch_final['ifUK'] = 'UK' if str(up_to_moment_below_stretch_final.index[0]) in  variant_dic.get("uk") else False
            
            up_to_moment_below_stretch_final.insert(0,"isUK",'UK' if str(up_to_moment_below_stretch_final.index[0]) in  variant_dic.get("uk") else False)
              
            
            up_to_moment_below_stretch_final
            #Per filtrare le rows con slope of slopes che sta scendendo
            #up_to_moment_below_stretch_final = up_to_moment_below_stretch_final.loc[up_to_moment_below_stretch_final['slopeofslopes']>0]
            
            #if ~up_to_moment_below_stretch_final.isnull().all().all():
            #    print(f'HERE I CAN THROW AN ALERT FOR AMINO ACID CHANGE(S) {up_to_moment_below_stretch_final.index.values.tolist()}')
            #    #qui ordino le rige per slope of slopes ma devo trovare modo più sofisticato per clusterizzare quelle simili
            #    up_to_moment_below_stretch_final.sort_values(by='slopeofslopes', ascending=False)

Observation point 2020-04-01|07
Dataframe dimension: (150, 3)
Dimension without changes over 25.0%: (148, 3)
Dimension without rows w/o 3 right-most non-null slopes: (2, 3)
<class 'list'>
Index(['N_G204R', 'N_R203K'], dtype='object', name='change')

,isUK,2020-03-16|23,2020-03-24|31,2020-04-01|07,slopeofslopes
change,,,,,
N_G204R,False,"(-0.5644, 0.1468)","(-0.0732, 0.1511)","(0.2218, 0.2183)",0.3931
N_R203K,False,"(-0.5644, 0.1468)","(-0.0732, 0.1511)","(0.2218, 0.2183)",0.3931

Observation point 2020-04-08|15
Dataframe dimension: (150, 4)
Dimension without changes over 25.0%: (148, 4)

Observation point 2020-04-16|23
Dataframe dimension: (150, 5)
Dimension without changes over 25.0%: (148, 5)

Observation point 2020-04-24|31
Dataframe dimension: (150, 6)
Dimension without changes over 25.0%: (148, 6)

Observation point 2020-05-01|07
Dataframe dimension: (150, 7)
Dimension without changes over 25.0%: (148, 7)

Observation point 2020-05-08|15
Dataframe dimension: (150, 8)
Dimension without changes over 25.0%: (148, 8)

Observation point 2020-05-16|23
Dataframe dimension: (150, 9)
Dimension without changes over 25.0%: (148, 9)

Observation point 2020-06-24|31
Dataframe dimension: (150, 10)
Dimension without changes over 25.0%: (148, 10)

Observation point 2020-07-01|07
Dataframe dimension: (150, 11)
Dimension without changes over 25.0%: (146, 11)

Observation point 2020-07-08|15
Dataframe dimension: (150, 12)
Dimension without changes over 25.0%: (146, 12)

Observation point 2020-07-16|23
Dataframe dimension: (150, 13)
Dimension without changes over 25.0%: (146, 13)

Observation point 2020-07-24|31
Dataframe dimension: (150, 14)
Dimension without changes over 25.0%: (146, 14)

Observation point 2020-08-01|07
Dataframe dimension: (150, 15)
Dimension without changes over 25.0%: (146, 15)

Observation point 2020-08-08|15
Dataframe dimension: (150, 16)
Dimension without changes over 25.0%: (146, 16)

Observation point 2020-08-16|23
Dataframe dimension: (150, 17)
Dimension without changes over 25.0%: (146, 17)

Observation point 2020-08-24|31
Dataframe dimension: (150, 18)
Dimension without changes over 25.0%: (146, 18)

Observation point 2020-09-01|07
Dataframe dimension: (150, 19)
Dimension without changes over 25.0%: (143, 19)

Observation point 2020-09-08|15
Dataframe dimension: (150, 20)
Dimension without changes over 25.0%: (143, 20)

Observation point 2020-09-16|23
Dataframe dimension: (150, 21)
Dimension without changes over 25.0%: (143, 21)

Observation point 2020-09-24|31
Dataframe dimension: (150, 22)
Dimension without changes over 25.0%: (143, 22)

Observation point 2020-10-01|07
Dataframe dimension: (150, 23)
Dimension without changes over 25.0%: (143, 23)

Observation point 2020-10-08|15
Dataframe dimension: (150, 24)
Dimension without changes over 25.0%: (143, 24)

Observation point 2020-10-16|23
Dataframe dimension: (150, 25)
Dimension without changes over 25.0%: (143, 25)

Observation point 2020-10-24|31
Dataframe dimension: (150, 26)
Dimension without changes over 25.0%: (135, 26)

Observation point 2020-11-01|07
Dataframe dimension: (150, 27)
Dimension without changes over 25.0%: (135, 27)
Dimension without rows w/o 3 right-most non-null slopes: (2, 3)
<class 'list'>
Index(['NS7a_T14I', 'NSP16_M270I'], dtype='object', name='change')

,isUK,2020-10-16|23,2020-10-24|31,2020-11-01|07,slopeofslopes
change,,,,,
NS7a_T14I,False,"(-0.2093, 0.0826)","(0.0271, 0.0966)","(0.2307, 0.1649)",0.2200
NSP16_M270I,False,"(-0.1834, 0.0771)","(-0.1415, 0.0831)","(0.0534, 0.1135)",0.1184

Observation point 2020-11-08|15
Dataframe dimension: (150, 28)
Dimension without changes over 25.0%: (135, 28)
Dimension without rows w/o 3 right-most non-null slopes: (1, 4)
<class 'list'>
Index(['NS7a_T14I'], dtype='object', name='change')

,isUK,2020-10-16|23,2020-10-24|31,2020-11-01|07,2020-11-08|15,slopeofslopes
change,,,,,,
NS7a_T14I,False,"(-0.2093, 0.0826)","(0.0271, 0.0966)","(0.2307, 0.1649)","(0.2481, 0.1581)",0.1576

Observation point 2020-11-16|23
Dataframe dimension: (150, 29)
Dimension without changes over 25.0%: (135, 29)
Dimension without rows w/o 3 right-most non-null slopes: (1, 5)
<class 'list'>
Index(['NS7a_T14I'], dtype='object', name='change')

,isUK,2020-10-16|23,2020-10-24|31,2020-11-01|07,2020-11-08|15,2020-11-16|23,slopeofslopes
change,,,,,,,
NS7a_T14I,False,"(-0.2093, 0.0826)","(0.0271, 0.0966)","(0.2307, 0.1649)","(0.2481, 0.1581)","(0.1037, 0.1384)",0.0847

Observation point 2020-11-24|31
Dataframe dimension: (150, 30)
Dimension without changes over 25.0%: (135, 30)
Dimension without rows w/o 3 right-most non-null slopes: (3, 10)
<class 'list'>
Index(['N_P199S', 'NS7a_T14I', 'N_V72I'], dtype='object', name='change')

,isUK,2020-08-01|07,2020-08-08|15,2020-08-16|23,2020-08-24|31,2020-10-16|23,2020-10-24|31,2020-11-01|07,2020-11-08|15,2020-11-16|23,2020-11-24|31,slopeofslopes
change,,,,,,,,,,,,
N_P199S,False,"(0.191, 0.2432)","(-0.1869, 0.1275)","(-0.5047, 0.088)","(-0.3308, 0.0914)",NaN,"(-0.0704, 0.0831)","(-0.0528, 0.0953)","(-0.1316, 0.0815)","(0.0916, 0.1189)","(0.0548, 0.1009)",0.0219
NS7a_T14I,False,NaN,NaN,NaN,NaN,"(-0.2093, 0.0826)","(0.0271, 0.0966)","(0.2307, 0.1649)","(0.2481, 0.1581)","(0.1037, 0.1384)","(-0.0926, 0.1266)",0.0237
N_V72I,False,"(0.1956, 0.2432)","(-0.1445, 0.1275)","(-0.4833, 0.088)","(-0.3308, 0.0914)",NaN,"(-0.1079, 0.0809)","(-0.0743, 0.0908)","(-0.1289, 0.0863)","(0.0935, 0.1124)","(0.0644, 0.103)",0.0192

Observation point 2020-12-01|07
Dataframe dimension: (150, 31)
Dimension without changes over 25.0%: (135, 31)
Dimension without rows w/o 3 right-most non-null slopes: (1, 7)
<class 'list'>
Index(['NS7a_T14I'], dtype='object', name='change')

,isUK,2020-10-16|23,2020-10-24|31,2020-11-01|07,2020-11-08|15,2020-11-16|23,2020-11-24|31,2020-12-01|07,slopeofslopes
change,,,,,,,,,
NS7a_T14I,False,"(-0.2093, 0.0826)","(0.0271, 0.0966)","(0.2307, 0.1649)","(0.2481, 0.1581)","(0.1037, 0.1384)","(-0.0926, 0.1266)","(-0.0169, 0.154)",0.0075

Observation point 2020-12-08|15
Dataframe dimension: (150, 32)
Dimension without changes over 25.0%: (135, 32)
Dimension without rows w/o 3 right-most non-null slopes: (4, 8)
<class 'list'>
Index(['NS7a_T14I', 'NSP13_H290Y', 'NSP3_I1683T', 'Spike_N439K'], dtype='object', name='change')

,isUK,2020-10-16|23,2020-10-24|31,2020-11-01|07,2020-11-08|15,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,slopeofslopes
change,,,,,,,,,,
NS7a_T14I,False,"(-0.2093, 0.0826)","(0.0271, 0.0966)","(0.2307, 0.1649)","(0.2481, 0.1581)","(0.1037, 0.1384)","(-0.0926, 0.1266)","(-0.0169, 0.154)","(0.0276, 0.1422)",0.0039
NSP13_H290Y,False,NaN,NaN,NaN,NaN,"(-0.0128, 0.0261)","(0.075, 0.0322)","(0.3149, 0.0936)","(0.6207, 0.1445)",0.2140
NSP3_I1683T,False,NaN,NaN,NaN,NaN,"(-0.0194, 0.0244)","(0.0573, 0.03)","(0.2958, 0.0799)","(0.6361, 0.1469)",0.2205
Spike_N439K,False,NaN,NaN,NaN,NaN,"(-0.0146, 0.0244)","(0.0062, 0.0258)","(0.2429, 0.0741)","(0.629, 0.1398)",0.2168

Observation point 2020-12-16|23
Dataframe dimension: (150, 33)
Dimension without changes over 25.0%: (135, 33)
Dimension without rows w/o 3 right-most non-null slopes: (2, 9)
<class 'list'>
Index(['NS7a_T14I', 'NSP13_H290Y'], dtype='object', name='change')

,isUK,2020-10-16|23,2020-10-24|31,2020-11-01|07,2020-11-08|15,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,slopeofslopes
change,,,,,,,,,,,
NS7a_T14I,False,"(-0.2093, 0.0826)","(0.0271, 0.0966)","(0.2307, 0.1649)","(0.2481, 0.1581)","(0.1037, 0.1384)","(-0.0926, 0.1266)","(-0.0169, 0.154)","(0.0276, 0.1422)","(-0.0572, 0.1074)",-0.0038
NSP13_H290Y,False,NaN,NaN,NaN,NaN,"(-0.0128, 0.0261)","(0.075, 0.0322)","(0.3149, 0.0936)","(0.6207, 0.1445)","(0.3839, 0.1001)",0.1339

Observation point 2020-12-24|31
Dataframe dimension: (150, 34)
Dimension without changes over 25.0%: (135, 34)

Observation point 2021-01-01|07
Dataframe dimension: (150, 35)
Dimension without changes over 25.0%: (135, 35)
Dimension without rows w/o 3 right-most non-null slopes: (1, 11)
<class 'list'>
Index(['NS7a_T14I'], dtype='object', name='change')

,isUK,2020-10-16|23,2020-10-24|31,2020-11-01|07,2020-11-08|15,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,slopeofslopes
change,,,,,,,,,,,,,
NS7a_T14I,False,"(-0.2093, 0.0826)","(0.0271, 0.0966)","(0.2307, 0.1649)","(0.2481, 0.1581)","(0.1037, 0.1384)","(-0.0926, 0.1266)","(-0.0169, 0.154)","(0.0276, 0.1422)","(-0.0572, 0.1074)","(-0.1936, 0.0887)","(-0.1233, 0.1005)",-0.0171

Observation point 2021-01-08|15
Dataframe dimension: (150, 36)
Dimension without changes over 25.0%: (135, 36)
Dimension without rows w/o 3 right-most non-null slopes: (3, 12)
<class 'list'>
Index(['NS7a_T14I', 'Spike_H69-', 'Spike_V70-'], dtype='object', name='change')

,isUK,2020-10-16|23,2020-10-24|31,2020-11-01|07,2020-11-08|15,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,slopeofslopes
change,,,,,,,,,,,,,,
NS7a_T14I,False,"(-0.2093, 0.0826)","(0.0271, 0.0966)","(0.2307, 0.1649)","(0.2481, 0.1581)","(0.1037, 0.1384)","(-0.0926, 0.1266)","(-0.0169, 0.154)","(0.0276, 0.1422)","(-0.0572, 0.1074)","(-0.1936, 0.0887)","(-0.1233, 0.1005)","(0.0244, 0.1118)",-0.0120
Spike_H69-,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.2402, 0.112)","(0.2039, 0.1171)","(0.2885, 0.1385)",0.0242
Spike_V70-,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.2402, 0.112)","(0.2039, 0.1171)","(0.2885, 0.1385)",0.0242

Observation point 2021-01-16|23
Dataframe dimension: (150, 37)
Dimension without changes over 25.0%: (135, 37)
Dimension without rows w/o 3 right-most non-null slopes: (3, 13)
<class 'list'>
Index(['NS7a_T14I', 'Spike_H69-', 'Spike_V70-'], dtype='object', name='change')

,isUK,2020-10-16|23,2020-10-24|31,2020-11-01|07,2020-11-08|15,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,slopeofslopes
change,,,,,,,,,,,,,,,
NS7a_T14I,False,"(-0.2093, 0.0826)","(0.0271, 0.0966)","(0.2307, 0.1649)","(0.2481, 0.1581)","(0.1037, 0.1384)","(-0.0926, 0.1266)","(-0.0169, 0.154)","(0.0276, 0.1422)","(-0.0572, 0.1074)","(-0.1936, 0.0887)","(-0.1233, 0.1005)","(0.0244, 0.1118)","(0.0553, 0.1029)",-0.0075
Spike_H69-,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.2402, 0.112)","(0.2039, 0.1171)","(0.2885, 0.1385)","(0.1365, 0.1669)",-0.0227
Spike_V70-,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.2402, 0.112)","(0.2039, 0.1171)","(0.2885, 0.1385)","(0.1365, 0.1669)",-0.0227

Observation point 2021-01-24|31
Dataframe dimension: (150, 38)
Dimension without changes over 25.0%: (132, 38)
Dimension without rows w/o 3 right-most non-null slopes: (17, 3)
<class 'list'>
Index(['N_D3L', 'N_S235F', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'NSP3_A890D',
       'NSP3_I1412T', 'NSP3_T183I', 'NSP6_F108-', 'NSP6_G107-', 'NSP6_S106-',
       'Spike_A570D', 'Spike_D1118H', 'Spike_P681H', 'Spike_S982A',
       'Spike_T716I', 'Spike_Y144-'],
      dtype='object', name='change')

,isUK,2021-01-08|15,2021-01-16|23,2021-01-24|31,slopeofslopes
change,,,,,
N_D3L,UK,"(0.5927, 0.0846)","(0.268, 0.093)","(0.3985, 0.2306)",-0.0971
N_S235F,UK,"(0.6168, 0.0957)","(0.3691, 0.1144)","(0.3855, 0.2218)",-0.1156
NS8_Q27*,UK,"(0.6324, 0.0952)","(0.3602, 0.1182)","(0.4118, 0.234)",-0.1103
NS8_R52I,UK,"(0.662, 0.0982)","(0.4084, 0.1188)","(0.3946, 0.2326)",-0.1337
NS8_Y73C,UK,"(0.6319, 0.0947)","(0.3663, 0.116)","(0.4161, 0.2333)",-0.1079
NSP3_A890D,UK,"(0.6384, 0.0962)","(0.373, 0.116)","(0.4093, 0.2293)",-0.1145
NSP3_I1412T,UK,"(0.637, 0.0952)","(0.3714, 0.1138)","(0.4067, 0.2279)",-0.1151
NSP3_T183I,UK,"(0.6351, 0.0957)","(0.3659, 0.1155)","(0.4102, 0.2299)",-0.1124
NSP6_F108-,UK,"(0.5947, 0.1062)","(0.3393, 0.1045)","(0.2476, 0.1463)",-0.1735
NSP6_G107-,UK,"(0.5961, 0.1067)","(0.3429, 0.1056)","(0.2482, 0.1463)",-0.1739
NSP6_S106-,UK,"(0.5961, 0.1067)","(0.3429, 0.1056)","(0.2482, 0.1463)",-0.1739
Spike_A570D,UK,"(0.6423, 0.0962)","(0.3717, 0.1144)","(0.4039, 0.2313)",-0.1192
Spike_D1118H,UK,"(0.6448, 0.0962)","(0.3878, 0.116)","(0.4095, 0.232)",-0.1176
Spike_P681H,UK,"(0.5755, 0.1188)","(0.3584, 0.1368)","(0.3565, 0.2495)",-0.1095
Spike_S982A,UK,"(0.6368, 0.0957)","(0.3696, 0.1149)","(0.4107, 0.2306)",-0.1130
Spike_T716I,UK,"(0.6341, 0.1042)","(0.3824, 0.1264)","(0.4131, 0.2421)",-0.1105
Spike_Y144-,UK,"(0.6421, 0.0972)","(0.3915, 0.1204)","(0.4197, 0.2326)",-0.1112

Observation point 2021-02-01|07
Dataframe dimension: (150, 39)
Dimension without changes over 25.0%: (118, 39)
Dimension without rows w/o 3 right-most non-null slopes: (3, 4)
<class 'list'>
Index(['NSP6_F108-', 'NSP6_G107-', 'NSP6_S106-'], dtype='object', name='change')

,isUK,2021-01-08|15,2021-01-16|23,2021-01-24|31,2021-02-01|07,slopeofslopes
change,,,,,,
NSP6_F108-,False,"(0.5947, 0.1062)","(0.3393, 0.1045)","(0.2476, 0.1463)","(0.2803, 0.2418)",-0.1035
NSP6_G107-,False,"(0.5961, 0.1067)","(0.3429, 0.1056)","(0.2482, 0.1463)","(0.279, 0.2427)",-0.1046
NSP6_S106-,False,"(0.5961, 0.1067)","(0.3429, 0.1056)","(0.2482, 0.1463)","(0.279, 0.2427)",-0.1046

Observation point 2021-02-08|15
Dataframe dimension: (150, 40)
Dimension without changes over 25.0%: (115, 40)
Dimension without rows w/o 3 right-most non-null slopes: (2, 4)
<class 'list'>
Index(['NS8_K68*', 'NSP13_K460R'], dtype='object', name='change')

,isUK,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,slopeofslopes
change,,,,,,
NS8_K68*,False,"(0.4115, 0.0241)","(0.4841, 0.0742)","(0.4834, 0.0867)","(0.4844, 0.1149)",0.0218
NSP13_K460R,False,"(0.1806, 0.0181)","(0.4732, 0.058)","(0.6786, 0.0885)","(0.6445, 0.1345)",0.1597

Observation point 2021-02-16|23
Dataframe dimension: (150, 41)
Dimension without changes over 25.0%: (115, 41)
Dimension without rows w/o 3 right-most non-null slopes: (2, 5)
<class 'list'>
Index(['NS8_K68*', 'NSP13_K460R'], dtype='object', name='change')

,isUK,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,2021-02-16|23,slopeofslopes
change,,,,,,,
NS8_K68*,False,"(0.4115, 0.0241)","(0.4841, 0.0742)","(0.4834, 0.0867)","(0.4844, 0.1149)","(0.2392, 0.1499)",-0.0344
NSP13_K460R,False,"(0.1806, 0.0181)","(0.4732, 0.058)","(0.6786, 0.0885)","(0.6445, 0.1345)","(0.3106, 0.1421)",0.0431

Observation point 2021-02-24|31
Dataframe dimension: (150, 42)
Dimension without changes over 25.0%: (115, 42)
Dimension without rows w/o 3 right-most non-null slopes: (3, 6)
<class 'list'>
Index(['NS8_K68*', 'NSP12_P227L', 'NSP13_K460R'], dtype='object', name='change')

,isUK,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,2021-02-16|23,2021-02-24|31,slopeofslopes
change,,,,,,,,
NS8_K68*,False,"(0.4115, 0.0241)","(0.4841, 0.0742)","(0.4834, 0.0867)","(0.4844, 0.1149)","(0.2392, 0.1499)","(0.268, 0.1938)",-0.0415
NSP12_P227L,False,NaN,"(0.3056, 0.0276)","(0.3541, 0.0429)","(0.4109, 0.0428)","(0.2757, 0.0694)","(0.4388, 0.1576)",0.0188
NSP13_K460R,False,"(0.1806, 0.0181)","(0.4732, 0.058)","(0.6786, 0.0885)","(0.6445, 0.1345)","(0.3106, 0.1421)","(0.1686, 0.1525)",-0.0166

Observation point 2021-03-01|07
Dataframe dimension: (150, 43)
Dimension without changes over 25.0%: (115, 43)
Dimension without rows w/o 3 right-most non-null slopes: (5, 7)
<class 'list'>
Index(['NS7a_P84S', 'NS8_K68*', 'NSP13_K460R', 'NSP2_L550F', 'NSP5_P108S'], dtype='object', name='change')

,isUK,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,2021-02-16|23,2021-02-24|31,2021-03-01|07,slopeofslopes
change,,,,,,,,,
NS7a_P84S,False,NaN,NaN,NaN,"(0.5868, 0.0465)","(0.3896, 0.0626)","(0.2249, 0.0594)","(0.2581, 0.1118)",-0.1151
NS8_K68*,False,"(0.4115, 0.0241)","(0.4841, 0.0742)","(0.4834, 0.0867)","(0.4844, 0.1149)","(0.2392, 0.1499)","(0.268, 0.1938)","(0.2369, 0.2324)",-0.0429
NSP13_K460R,False,"(0.1806, 0.0181)","(0.4732, 0.058)","(0.6786, 0.0885)","(0.6445, 0.1345)","(0.3106, 0.1421)","(0.1686, 0.1525)","(0.1217, 0.1971)",-0.0412
NSP2_L550F,False,"(0.4036, 0.0301)","(0.2176, 0.0472)","(0.2435, 0.0703)","(0.3445, 0.0831)","(0.2339, 0.0973)","(0.1082, 0.0956)","(0.1241, 0.1265)",-0.0381
NSP5_P108S,False,NaN,NaN,NaN,"(0.4675, 0.0391)","(0.3574, 0.0604)","(0.3462, 0.0801)","(0.3269, 0.1059)",-0.0433

Observation point 2021-03-08|15
Dataframe dimension: (150, 44)
Dimension without changes over 25.0%: (115, 44)
Dimension without rows w/o 3 right-most non-null slopes: (5, 8)
<class 'list'>
Index(['NS7a_P84S', 'NS8_K68*', 'NSP13_K460R', 'NSP2_L550F', 'NSP5_P108S'], dtype='object', name='change')

,isUK,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,2021-02-16|23,2021-02-24|31,2021-03-01|07,2021-03-08|15,slopeofslopes
change,,,,,,,,,,
NS7a_P84S,False,NaN,NaN,NaN,"(0.5868, 0.0465)","(0.3896, 0.0626)","(0.2249, 0.0594)","(0.2581, 0.1118)","(0.3567, 0.1667)",-0.0592
NS8_K68*,False,"(0.4115, 0.0241)","(0.4841, 0.0742)","(0.4834, 0.0867)","(0.4844, 0.1149)","(0.2392, 0.1499)","(0.268, 0.1938)","(0.2369, 0.2324)","(0.1468, 0.2302)",-0.0474
NSP13_K460R,False,"(0.1806, 0.0181)","(0.4732, 0.058)","(0.6786, 0.0885)","(0.6445, 0.1345)","(0.3106, 0.1421)","(0.1686, 0.1525)","(0.1217, 0.1971)","(0.1137, 0.1905)",-0.0487
NSP2_L550F,False,"(0.4036, 0.0301)","(0.2176, 0.0472)","(0.2435, 0.0703)","(0.3445, 0.0831)","(0.2339, 0.0973)","(0.1082, 0.0956)","(0.1241, 0.1265)","(0.2167, 0.1825)",-0.0273
NSP5_P108S,False,NaN,NaN,NaN,"(0.4675, 0.0391)","(0.3574, 0.0604)","(0.3462, 0.0801)","(0.3269, 0.1059)","(0.3463, 0.1746)",-0.0273

In [138]:
#stampa grafico solo per quel triangolino (fare grafico delle slope-delle-slopes? cosi si vede le variazioni delle variazioni (derivata seconda))

#vedi chi sono queste per cui dò un alert.(rimangono solo le 5 californiane?)
#vedo se all'inizio prevedo la 3/4 americana e la 5-8th!