Notebook to read the csv file and analyze it

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import sqlalchemy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from itertools import *
from adjustText import adjust_text
import ast

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
variant_dic = {
    #B.1.1.7/501Y.V1
    "uk":['NSP3_T183I','NSP3_A890D','NSP3_I1412T','NSP6_S106_','NSP6_G107_','NSP6_F108_', 'Spike_Y144-','Spike_H69-','Spike_V70-','Spike_N501Y','Spike_A570D','Spike_P681H','Spike_T716I','Spike_S982A','Spike_D1118H','NS8_Q27*','NS8_R52I','NS8_Y73C','N_D3L','N_S235F'],
    #B.1.351/501Y.V2
    "southafrica":['E_P71L','N_T205I','NSP3_K837N','Spike_D80A','Spike_D215G','Spike_K417N','Spike_A701V','Spike_N501Y','Spike_E484K'],
    #P.1/variant
    "brazil":['NSP3_S370L','NSP3_K977Q','NSP6_S106_','NSP6_G107_','NSP6_F108_','Spike_L18F','Spike_T20N','Spike_P26S','Spike_D138Y','Spike_R190S','Spike_K417T','Spike_E484K','Spike_N501Y','Spike_H655Y','Spike_T1027I','NS3_G174C','NS8_E92K','N_P80R'],
    #A.23.1
    "uganda":['Spike_F157L','Spike_V367F','Spike_Q613H','Spike_P681R'],
    #B.1.525
    "nigeria":['NSP12_P323L','Spike_Q52R','Spike_E484K','Spike_Q677H','Spike_F888L','E_L21F','E_I82T','NSP6_S106_','NSP6_G107_','NSP6_F108_','Spike_H69-','Spike_V70-','N_S2-'],
    #B.1.429
    "california":['NSP9_I65V','NSP13_D260Y','Spike_S13I','Spike_W152C','Spike_L452R'],
    #minks
    "cluster5":['Spike_H69-','Spike_V70-','Spike_Y453F','Spike_I692V','Spike_S1147L','Spike_M1229I'],
    #4US
    "4US":['NS8_S24L','NSP5_L89F','N_P199L','NSP14_N129D'],
    #indianI/A3i
    "indianI/A3i":['NSP6_L37F','NSP12_A97V','N_P13L','NSP3_T1198K'],
    #indian_new
    'indian_new':['Spike_N440K']
    
}

In [3]:
engine = sqlalchemy.create_engine(
    sqlalchemy.engine.url.URL(
        drivername="postgresql",
        username="geco",
        password="geco78",
        host="localhost",
        port="5432",
        database="vcm_gisaid_du_2"
    ),
    echo_pool=True,
)

print("connecting with engine " + str(engine))
connection = engine.connect()

#connection.close()
#engine.dispose()

connecting with engine Engine(postgresql://geco:***@localhost:5432/vcm_gisaid_du_2)

In [11]:
obs_periods = 4
coeff_threshold = 0.30

In [12]:
big_slopes_matrix = pd.read_csv('United Kingdom_mut10_obs4_2020-01__2022-01.csv', index_col='change') 

big_slopes_matrix = big_slopes_matrix.applymap(lambda x: ast.literal_eval(x) if pd.notnull(x) else x)

In [17]:
#big_slopes_matrix_clean_row
#big_slopes_matrix_clean_row.iloc[:,3:]

In [18]:
#big_slopes_matrix_clean_row

In [14]:
#FILTERING OF THE BIG SLOPES MATRIX

#columns with only NaNs to be eliminated #https://stackoverflow.com/questions/45147100/pandas-drop-columns-with-all-nans
big_slopes_matrix_clean = big_slopes_matrix.dropna(axis = 1, how = 'all')
#rows with only NaNs to be eliminated
big_slopes_matrix_clean_row = big_slopes_matrix_clean.dropna(axis = 0, how = 'all')

#ciclare colonna per colonna, il df guardato è solo a sx di quella colonna
#parto dalla posizione che mi permette di osserver #obs_periods, quindi se è 4 periodi, pardo dalla quarta colonna perchè poi devo avere almeno 4 periodi da guardare a sx
for column in big_slopes_matrix_clean_row.iloc[:,obs_periods-1:]:   #big_slopes_matrix_clean_row: 
    
    print('\nObservation point ' + column)
    #sub-dataset sinistro (incluso) alla data espressa da column
    up_to_moment = big_slopes_matrix_clean_row.loc[:,:column]
    #up_to_moment (65, 4)
    print(f'Dataframe dimension: {up_to_moment.shape}')
    
    #in quel df sinistro, butto via chi è già arrivato a 0.25 (non su tutto il df!)
    #eliminate rows with at least one observazion > 25% https://stackoverflow.com/questions/47914985/drop-a-row-in-a-pandas-dataframe-if-any-column-contains-a-certain-value-in-said
    up_to_moment_below = up_to_moment[~up_to_moment.applymap(lambda x: x[1] >= coeff_threshold if type(x) is tuple else x).any(1)] 
    #up_to_moment_below (58, 4)
    print(f'Dimension without changes over {coeff_threshold*100}%: {up_to_moment_below.shape}')
    
    if ~up_to_moment_below.isnull().all().all():   #se questo dataset sinistro non è già tutto nullo, andiamo avanti 
        
        #eliminate rows that do not have at least #obs_periods consecutive slopes_observations
        up_to_moment_below_stretch = up_to_moment_below
     
        #for index, row in up_to_moment_below.applymap(lambda x: x[1] if type(x) is tuple else x).iterrows():
        for index, row in up_to_moment_below.iterrows():
            
            gg = up_to_moment_below.loc[index]
            
            if ~gg.isnull().all(): #vado avanti solo per le righe che non sono già tutte nulle
                m = np.concatenate(( [True], pd.isnull(gg), [True] ))  # Mask
                ss = np.flatnonzero(m[1:] != m[:-1]).reshape(-1,2)   # Start-stop limits
                start,stop = ss[(ss[:,1] - ss[:,0]).argmax()]  # Get max interval, interval limits
                #print(f'{start}, {stop}')
                if stop - start < obs_periods or stop < up_to_moment_below.shape[1] or (up_to_moment_below.loc[index].iloc[-1])[1]<0.1: #https://stackoverflow.com/questions/13842088/set-value-for-particular-cell-in-pandas-dataframe-using-index
                    #droppo le righe che non hanno almeno obs_periods non nulli (stop - start < obs_periods)
                    #oppure che hanno lo stretch di obs_periods non all'estremo destro (stop < up_to_moment_below.shape[1])
                    up_to_moment_below_stretch = up_to_moment_below_stretch.drop(index) 
                    
        if ~up_to_moment_below_stretch.isnull().all().all(): #vado avanti solo se la matrice non è diventata tutta nulla
            #tolgo tutte le righe nulle, rimangono solo quelle interessanti
            #droppa le colonne con tutti null, tenendo solo il treno non nullo più recente
            up_to_moment_below_stretch = up_to_moment_below_stretch.dropna(axis = 0, how = 'all').dropna(axis = 1, how = 'all')   
            print(f'Dimension without rows w/o {obs_periods} right-most non-null slopes: {up_to_moment_below_stretch.shape}')
            up_to_moment_below_stretch_final = up_to_moment_below_stretch.copy()
            #questa riga aggiunge una colonna, per ciascuna riga la lambda function fa round della slope (z[0]) calcolata da x e y 
            #dove x è un vettore arange fatto con la lunghezza dei numeri not nan della riga e 
            #dove y è un vettore generato da list comprehension di row.dropna prendendo solo gli elementi 0 (perchè ho delle tuple)
            up_to_moment_below_stretch_final['slopeofslopes'] = up_to_moment_below_stretch_final.apply(lambda row: round((np.polyfit(np.arange(len(row.dropna())),[x[0] for x in row.dropna()], 1))[0],4), axis = 1)
            
            ##scommentare solo se si commentano tutti i filtri sotto e si vuole stampare la matrice anche con slopofslopes negative
            #up_to_moment_below_stretch_final['ifUK'] = up_to_moment_below_stretch_final.apply(lambda row: up_to_moment_below_stretch_final.index[up_to_moment_below_stretch_final.loc[row]])
            
            print((variant_dic.get("uk")))
            print(str(up_to_moment_below_stretch_final.index))
            #up_to_moment_below_stretch_final['ifUK'] = 'UK' if str(up_to_moment_below_stretch_final.index[0]) in  variant_dic.get("uk") else False
            
            up_to_moment_below_stretch_final.insert(0,"isUK",'UK' if str(up_to_moment_below_stretch_final.index[0]) in  variant_dic.get("uk") else False)
              
            
            up_to_moment_below_stretch_final
            #Per filtrare le rows con slope of slopes che sta scendendo
            #up_to_moment_below_stretch_final = up_to_moment_below_stretch_final.loc[up_to_moment_below_stretch_final['slopeofslopes']>0]
            
            #if ~up_to_moment_below_stretch_final.isnull().all().all():
            #    print(f'HERE I CAN THROW AN ALERT FOR AMINO ACID CHANGE(S) {up_to_moment_below_stretch_final.index.values.tolist()}')
            #    #qui ordino le rige per slope of slopes ma devo trovare modo più sofisticato per clusterizzare quelle simili
            #    up_to_moment_below_stretch_final.sort_values(by='slopeofslopes', ascending=False)

Observation point 2020-04-08|15
Dataframe dimension: (977, 4)
Dimension without changes over 30.0%: (972, 4)

Observation point 2020-04-16|23
Dataframe dimension: (977, 5)
Dimension without changes over 30.0%: (972, 5)

Observation point 2020-04-24|31
Dataframe dimension: (977, 6)
Dimension without changes over 30.0%: (972, 6)

Observation point 2020-05-01|07
Dataframe dimension: (977, 7)
Dimension without changes over 30.0%: (972, 7)

Observation point 2020-05-08|15
Dataframe dimension: (977, 8)
Dimension without changes over 30.0%: (972, 8)
Dimension without rows w/o 4 right-most non-null slopes: (1, 6)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NSP5_G15S'], dtype='object', name='change')

,isUK,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,slopeofslopes
change,,,,,,,,
NSP5_G15S,False,"(0.0398, 0.0467)","(-0.0587, 0.0459)","(0.0218, 0.0577)","(0.2058, 0.0859)","(0.2272, 0.0857)","(0.2024, 0.1134)",0.053

Observation point 2020-05-16|23
Dataframe dimension: (977, 9)
Dimension without changes over 30.0%: (972, 9)
Dimension without rows w/o 4 right-most non-null slopes: (2, 7)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['N_D103Y', 'NSP5_G15S'], dtype='object', name='change')

,isUK,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,2020-05-16|23,slopeofslopes
change,,,,,,,,,
N_D103Y,False,"(0.4018, 0.0289)","(0.0242, 0.0299)","(0.116, 0.0446)","(0.2822, 0.0647)","(0.2684, 0.0645)","(0.2144, 0.0912)","(0.2078, 0.1152)",-0.0018
NSP5_G15S,False,"(0.0398, 0.0467)","(-0.0587, 0.0459)","(0.0218, 0.0577)","(0.2058, 0.0859)","(0.2272, 0.0857)","(0.2024, 0.1134)","(0.1886, 0.1467)",0.0419

Observation point 2020-05-24|31
Dataframe dimension: (977, 10)
Dimension without changes over 30.0%: (972, 10)
Dimension without rows w/o 4 right-most non-null slopes: (2, 8)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['N_D103Y', 'NSP5_G15S'], dtype='object', name='change')

,isUK,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,2020-05-16|23,2020-05-24|31,slopeofslopes
change,,,,,,,,,,
N_D103Y,False,"(0.4018, 0.0289)","(0.0242, 0.0299)","(0.116, 0.0446)","(0.2822, 0.0647)","(0.2684, 0.0645)","(0.2144, 0.0912)","(0.2078, 0.1152)","(0.166, 0.1038)",-0.0054
NSP5_G15S,False,"(0.0398, 0.0467)","(-0.0587, 0.0459)","(0.0218, 0.0577)","(0.2058, 0.0859)","(0.2272, 0.0857)","(0.2024, 0.1134)","(0.1886, 0.1467)","(0.0795, 0.1026)",0.0247

Observation point 2020-06-01|07
Dataframe dimension: (977, 11)
Dimension without changes over 30.0%: (972, 11)

Observation point 2020-06-08|15
Dataframe dimension: (977, 12)
Dimension without changes over 30.0%: (972, 12)

Observation point 2020-06-16|23
Dataframe dimension: (977, 13)
Dimension without changes over 30.0%: (972, 13)

Observation point 2020-06-24|31
Dataframe dimension: (977, 14)
Dimension without changes over 30.0%: (972, 14)
Dimension without rows w/o 4 right-most non-null slopes: (1, 12)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NSP5_G15S'], dtype='object', name='change')

,isUK,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,2020-05-16|23,2020-05-24|31,2020-06-01|07,2020-06-08|15,2020-06-16|23,2020-06-24|31,slopeofslopes
change,,,,,,,,,,,,,,
NSP5_G15S,False,"(0.0398, 0.0467)","(-0.0587, 0.0459)","(0.0218, 0.0577)","(0.2058, 0.0859)","(0.2272, 0.0857)","(0.2024, 0.1134)","(0.1886, 0.1467)","(0.0795, 0.1026)","(-0.1285, 0.0833)","(-0.1531, 0.0944)","(-0.035, 0.0875)","(0.0887, 0.1148)",-0.0091

Observation point 2020-07-01|07
Dataframe dimension: (977, 15)
Dimension without changes over 30.0%: (972, 15)
Dimension without rows w/o 4 right-most non-null slopes: (1, 13)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NSP5_G15S'], dtype='object', name='change')

,isUK,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,2020-05-16|23,2020-05-24|31,2020-06-01|07,2020-06-08|15,2020-06-16|23,2020-06-24|31,2020-07-01|07,slopeofslopes
change,,,,,,,,,,,,,,,
NSP5_G15S,False,"(0.0398, 0.0467)","(-0.0587, 0.0459)","(0.0218, 0.0577)","(0.2058, 0.0859)","(0.2272, 0.0857)","(0.2024, 0.1134)","(0.1886, 0.1467)","(0.0795, 0.1026)","(-0.1285, 0.0833)","(-0.1531, 0.0944)","(-0.035, 0.0875)","(0.0887, 0.1148)","(0.0868, 0.1152)",-0.0061

Observation point 2020-07-08|15
Dataframe dimension: (977, 16)
Dimension without changes over 30.0%: (972, 16)
Dimension without rows w/o 4 right-most non-null slopes: (1, 14)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NSP5_G15S'], dtype='object', name='change')

,isUK,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,2020-05-16|23,2020-05-24|31,2020-06-01|07,2020-06-08|15,2020-06-16|23,2020-06-24|31,2020-07-01|07,2020-07-08|15,slopeofslopes
change,,,,,,,,,,,,,,,,
NSP5_G15S,False,"(0.0398, 0.0467)","(-0.0587, 0.0459)","(0.0218, 0.0577)","(0.2058, 0.0859)","(0.2272, 0.0857)","(0.2024, 0.1134)","(0.1886, 0.1467)","(0.0795, 0.1026)","(-0.1285, 0.0833)","(-0.1531, 0.0944)","(-0.035, 0.0875)","(0.0887, 0.1148)","(0.0868, 0.1152)","(0.2005, 0.1705)",-0.0009

Observation point 2020-07-16|23
Dataframe dimension: (977, 17)
Dimension without changes over 30.0%: (972, 17)
Dimension without rows w/o 4 right-most non-null slopes: (1, 15)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NSP5_G15S'], dtype='object', name='change')

,isUK,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,2020-05-16|23,2020-05-24|31,2020-06-01|07,2020-06-08|15,2020-06-16|23,2020-06-24|31,2020-07-01|07,2020-07-08|15,2020-07-16|23,slopeofslopes
change,,,,,,,,,,,,,,,,,
NSP5_G15S,False,"(0.0398, 0.0467)","(-0.0587, 0.0459)","(0.0218, 0.0577)","(0.2058, 0.0859)","(0.2272, 0.0857)","(0.2024, 0.1134)","(0.1886, 0.1467)","(0.0795, 0.1026)","(-0.1285, 0.0833)","(-0.1531, 0.0944)","(-0.035, 0.0875)","(0.0887, 0.1148)","(0.0868, 0.1152)","(0.2005, 0.1705)","(0.1076, 0.1442)",0.0003

Observation point 2020-07-24|31
Dataframe dimension: (977, 18)
Dimension without changes over 30.0%: (972, 18)
Dimension without rows w/o 4 right-most non-null slopes: (3, 16)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS3_Q57H', 'NSP5_G15S', 'Spike_R21I'], dtype='object', name='change')

,isUK,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,2020-05-16|23,2020-05-24|31,2020-06-01|07,2020-06-08|15,2020-06-16|23,2020-06-24|31,2020-07-01|07,2020-07-08|15,2020-07-16|23,2020-07-24|31,slopeofslopes
change,,,,,,,,,,,,,,,,,,
NS3_Q57H,False,"(0.1329, 0.0729)","(0.0128, 0.0593)","(-0.0076, 0.0693)","(0.0022, 0.0697)","(0.0731, 0.0756)","(0.0388, 0.0768)","(0.0154, 0.073)","(0.0362, 0.0867)","(-0.1239, 0.048)","(-0.2913, 0.0337)","(-0.3932, 0.0263)","(-0.2691, 0.0213)","(0.0207, 0.0387)","(0.231, 0.0465)","(0.3271, 0.0595)","(0.3125, 0.1011)",0.0058
NSP5_G15S,False,"(0.0398, 0.0467)","(-0.0587, 0.0459)","(0.0218, 0.0577)","(0.2058, 0.0859)","(0.2272, 0.0857)","(0.2024, 0.1134)","(0.1886, 0.1467)","(0.0795, 0.1026)","(-0.1285, 0.0833)","(-0.1531, 0.0944)","(-0.035, 0.0875)","(0.0887, 0.1148)","(0.0868, 0.1152)","(0.2005, 0.1705)","(0.1076, 0.1442)","(0.0053, 0.124)",-0.0013
Spike_R21I,False,NaN,"(0.3329, 0.0121)","(0.315, 0.0138)","(0.0505, 0.0097)","(-0.0106, 0.0132)","(0.1439, 0.0201)","(0.4398, 0.0365)","(0.4678, 0.0513)","(0.1672, 0.0313)","(0.0616, 0.0528)","(0.0982, 0.0598)","(0.2254, 0.0638)","(0.0297, 0.0571)","(-0.0401, 0.0543)","(0.012, 0.0675)","(0.2076, 0.106)",-0.0137

Observation point 2020-08-01|07
Dataframe dimension: (977, 19)
Dimension without changes over 30.0%: (972, 19)
Dimension without rows w/o 4 right-most non-null slopes: (1, 17)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NSP5_G15S'], dtype='object', name='change')

,isUK,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,2020-05-16|23,2020-05-24|31,2020-06-01|07,2020-06-08|15,2020-06-16|23,2020-06-24|31,2020-07-01|07,2020-07-08|15,2020-07-16|23,2020-07-24|31,2020-08-01|07,slopeofslopes
change,,,,,,,,,,,,,,,,,,,
NSP5_G15S,False,"(0.0398, 0.0467)","(-0.0587, 0.0459)","(0.0218, 0.0577)","(0.2058, 0.0859)","(0.2272, 0.0857)","(0.2024, 0.1134)","(0.1886, 0.1467)","(0.0795, 0.1026)","(-0.1285, 0.0833)","(-0.1531, 0.0944)","(-0.035, 0.0875)","(0.0887, 0.1148)","(0.0868, 0.1152)","(0.2005, 0.1705)","(0.1076, 0.1442)","(0.0053, 0.124)","(-0.1494, 0.109)",-0.0053

Observation point 2020-08-08|15
Dataframe dimension: (977, 20)
Dimension without changes over 30.0%: (972, 20)

Observation point 2020-08-16|23
Dataframe dimension: (977, 21)
Dimension without changes over 30.0%: (972, 21)
Dimension without rows w/o 4 right-most non-null slopes: (1, 19)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS3_Q57H'], dtype='object', name='change')

,isUK,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,2020-05-16|23,2020-05-24|31,2020-06-01|07,2020-06-08|15,2020-06-16|23,2020-06-24|31,2020-07-01|07,2020-07-08|15,2020-07-16|23,2020-07-24|31,2020-08-01|07,2020-08-08|15,2020-08-16|23,slopeofslopes
change,,,,,,,,,,,,,,,,,,,,,
NS3_Q57H,False,"(0.1329, 0.0729)","(0.0128, 0.0593)","(-0.0076, 0.0693)","(0.0022, 0.0697)","(0.0731, 0.0756)","(0.0388, 0.0768)","(0.0154, 0.073)","(0.0362, 0.0867)","(-0.1239, 0.048)","(-0.2913, 0.0337)","(-0.3932, 0.0263)","(-0.2691, 0.0213)","(0.0207, 0.0387)","(0.231, 0.0465)","(0.3271, 0.0595)","(0.3125, 0.1011)","(0.1853, 0.0723)","(0.1059, 0.0947)","(0.13, 0.1425)",0.009

Observation point 2020-08-24|31
Dataframe dimension: (977, 22)
Dimension without changes over 30.0%: (972, 22)
Dimension without rows w/o 4 right-most non-null slopes: (1, 20)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS3_Q57H'], dtype='object', name='change')

,isUK,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,2020-05-16|23,2020-05-24|31,2020-06-01|07,2020-06-08|15,2020-06-16|23,2020-06-24|31,2020-07-01|07,2020-07-08|15,2020-07-16|23,2020-07-24|31,2020-08-01|07,2020-08-08|15,2020-08-16|23,2020-08-24|31,slopeofslopes
change,,,,,,,,,,,,,,,,,,,,,,
NS3_Q57H,False,"(0.1329, 0.0729)","(0.0128, 0.0593)","(-0.0076, 0.0693)","(0.0022, 0.0697)","(0.0731, 0.0756)","(0.0388, 0.0768)","(0.0154, 0.073)","(0.0362, 0.0867)","(-0.1239, 0.048)","(-0.2913, 0.0337)","(-0.3932, 0.0263)","(-0.2691, 0.0213)","(0.0207, 0.0387)","(0.231, 0.0465)","(0.3271, 0.0595)","(0.3125, 0.1011)","(0.1853, 0.0723)","(0.1059, 0.0947)","(0.13, 0.1425)","(0.2902, 0.1659)",0.0114

Observation point 2020-09-01|07
Dataframe dimension: (977, 23)
Dimension without changes over 30.0%: (970, 23)
Dimension without rows w/o 4 right-most non-null slopes: (1, 21)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS3_Q57H'], dtype='object', name='change')

,isUK,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,2020-05-16|23,2020-05-24|31,2020-06-01|07,2020-06-08|15,2020-06-16|23,2020-06-24|31,2020-07-01|07,2020-07-08|15,2020-07-16|23,2020-07-24|31,2020-08-01|07,2020-08-08|15,2020-08-16|23,2020-08-24|31,2020-09-01|07,slopeofslopes
change,,,,,,,,,,,,,,,,,,,,,,,
NS3_Q57H,False,"(0.1329, 0.0729)","(0.0128, 0.0593)","(-0.0076, 0.0693)","(0.0022, 0.0697)","(0.0731, 0.0756)","(0.0388, 0.0768)","(0.0154, 0.073)","(0.0362, 0.0867)","(-0.1239, 0.048)","(-0.2913, 0.0337)","(-0.3932, 0.0263)","(-0.2691, 0.0213)","(0.0207, 0.0387)","(0.231, 0.0465)","(0.3271, 0.0595)","(0.3125, 0.1011)","(0.1853, 0.0723)","(0.1059, 0.0947)","(0.13, 0.1425)","(0.2902, 0.1659)","(0.1195, 0.1341)",0.0109

Observation point 2020-09-08|15
Dataframe dimension: (977, 24)
Dimension without changes over 30.0%: (970, 24)
Dimension without rows w/o 4 right-most non-null slopes: (1, 22)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS3_Q57H'], dtype='object', name='change')

,isUK,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,2020-05-16|23,2020-05-24|31,2020-06-01|07,2020-06-08|15,2020-06-16|23,2020-06-24|31,2020-07-01|07,2020-07-08|15,2020-07-16|23,2020-07-24|31,2020-08-01|07,2020-08-08|15,2020-08-16|23,2020-08-24|31,2020-09-01|07,2020-09-08|15,slopeofslopes
change,,,,,,,,,,,,,,,,,,,,,,,,
NS3_Q57H,False,"(0.1329, 0.0729)","(0.0128, 0.0593)","(-0.0076, 0.0693)","(0.0022, 0.0697)","(0.0731, 0.0756)","(0.0388, 0.0768)","(0.0154, 0.073)","(0.0362, 0.0867)","(-0.1239, 0.048)","(-0.2913, 0.0337)","(-0.3932, 0.0263)","(-0.2691, 0.0213)","(0.0207, 0.0387)","(0.231, 0.0465)","(0.3271, 0.0595)","(0.3125, 0.1011)","(0.1853, 0.0723)","(0.1059, 0.0947)","(0.13, 0.1425)","(0.2902, 0.1659)","(0.1195, 0.1341)","(-0.0526, 0.1284)",0.0083

Observation point 2020-09-16|23
Dataframe dimension: (977, 25)
Dimension without changes over 30.0%: (970, 25)
Dimension without rows w/o 4 right-most non-null slopes: (2, 23)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS3_Q57H', 'Spike_L18F'], dtype='object', name='change')

,isUK,2020-04-01|07,2020-04-08|15,2020-04-16|23,2020-04-24|31,2020-05-01|07,2020-05-08|15,2020-05-16|23,2020-05-24|31,2020-06-01|07,2020-06-08|15,2020-06-16|23,2020-06-24|31,2020-07-01|07,2020-07-08|15,2020-07-16|23,2020-07-24|31,2020-08-01|07,2020-08-08|15,2020-08-16|23,2020-08-24|31,2020-09-01|07,2020-09-08|15,2020-09-16|23,slopeofslopes
change,,,,,,,,,,,,,,,,,,,,,,,,,
NS3_Q57H,False,"(0.1329, 0.0729)","(0.0128, 0.0593)","(-0.0076, 0.0693)","(0.0022, 0.0697)","(0.0731, 0.0756)","(0.0388, 0.0768)","(0.0154, 0.073)","(0.0362, 0.0867)","(-0.1239, 0.048)","(-0.2913, 0.0337)","(-0.3932, 0.0263)","(-0.2691, 0.0213)","(0.0207, 0.0387)","(0.231, 0.0465)","(0.3271, 0.0595)","(0.3125, 0.1011)","(0.1853, 0.0723)","(0.1059, 0.0947)","(0.13, 0.1425)","(0.2902, 0.1659)","(0.1195, 0.1341)","(-0.0526, 0.1284)","(-0.1348, 0.1074)",0.0054
Spike_L18F,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(-0.0475, 0.0133)","(-0.0546, 0.0252)","(-0.0181, 0.0137)",NaN,NaN,NaN,NaN,"(0.4287, 0.0943)","(0.4975, 0.1377)","(0.344, 0.2015)","(0.3017, 0.2269)",0.0843

Observation point 2020-09-24|31
Dataframe dimension: (977, 26)
Dimension without changes over 30.0%: (970, 26)
Dimension without rows w/o 4 right-most non-null slopes: (1, 8)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['Spike_L18F'], dtype='object', name='change')

,isUK,2020-07-01|07,2020-07-08|15,2020-07-16|23,2020-08-24|31,2020-09-01|07,2020-09-08|15,2020-09-16|23,2020-09-24|31,slopeofslopes
change,,,,,,,,,,
Spike_L18F,False,"(-0.0475, 0.0133)","(-0.0546, 0.0252)","(-0.0181, 0.0137)","(0.4287, 0.0943)","(0.4975, 0.1377)","(0.344, 0.2015)","(0.3017, 0.2269)","(0.1803, 0.2414)",0.0539

Observation point 2020-10-01|07
Dataframe dimension: (977, 27)
Dimension without changes over 30.0%: (970, 27)
Dimension without rows w/o 4 right-most non-null slopes: (1, 9)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['Spike_L18F'], dtype='object', name='change')

,isUK,2020-07-01|07,2020-07-08|15,2020-07-16|23,2020-08-24|31,2020-09-01|07,2020-09-08|15,2020-09-16|23,2020-09-24|31,2020-10-01|07,slopeofslopes
change,,,,,,,,,,,
Spike_L18F,False,"(-0.0475, 0.0133)","(-0.0546, 0.0252)","(-0.0181, 0.0137)","(0.4287, 0.0943)","(0.4975, 0.1377)","(0.344, 0.2015)","(0.3017, 0.2269)","(0.1803, 0.2414)","(0.0872, 0.2639)",0.03

Observation point 2020-10-08|15
Dataframe dimension: (977, 28)
Dimension without changes over 30.0%: (970, 28)
Dimension without rows w/o 4 right-most non-null slopes: (1, 10)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['Spike_L18F'], dtype='object', name='change')

,isUK,2020-07-01|07,2020-07-08|15,2020-07-16|23,2020-08-24|31,2020-09-01|07,2020-09-08|15,2020-09-16|23,2020-09-24|31,2020-10-01|07,2020-10-08|15,slopeofslopes
change,,,,,,,,,,,,
Spike_L18F,False,"(-0.0475, 0.0133)","(-0.0546, 0.0252)","(-0.0181, 0.0137)","(0.4287, 0.0943)","(0.4975, 0.1377)","(0.344, 0.2015)","(0.3017, 0.2269)","(0.1803, 0.2414)","(0.0872, 0.2639)","(0.0743, 0.2822)",0.0154

Observation point 2020-10-16|23
Dataframe dimension: (977, 29)
Dimension without changes over 30.0%: (969, 29)

Observation point 2020-10-24|31
Dataframe dimension: (977, 30)
Dimension without changes over 30.0%: (969, 30)

Observation point 2020-11-01|07
Dataframe dimension: (977, 31)
Dimension without changes over 30.0%: (969, 31)

Observation point 2020-11-08|15
Dataframe dimension: (977, 32)
Dimension without changes over 30.0%: (969, 32)

Observation point 2020-11-16|23
Dataframe dimension: (977, 33)
Dimension without changes over 30.0%: (969, 33)
Dimension without rows w/o 4 right-most non-null slopes: (3, 10)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['Spike_H69-', 'Spike_N501Y', 'Spike_V70-'], dtype='object', name='change')

,isUK,2020-09-08|15,2020-09-16|23,2020-09-24|31,2020-10-01|07,2020-10-08|15,2020-10-16|23,2020-10-24|31,2020-11-01|07,2020-11-08|15,2020-11-16|23,slopeofslopes
change,,,,,,,,,,,,
Spike_H69-,UK,"(-0.3278, 0.0186)","(-0.1784, 0.0246)","(0.0735, 0.0259)","(0.0819, 0.0241)","(-0.0644, 0.0204)","(-0.0161, 0.026)","(0.0934, 0.0303)","(0.2123, 0.0393)","(0.3515, 0.0769)","(0.4458, 0.1071)",0.0694
Spike_N501Y,UK,NaN,NaN,NaN,NaN,NaN,NaN,"(0.5163, 0.0174)","(0.5952, 0.0298)","(0.6739, 0.0664)","(0.6085, 0.1013)",0.0355
Spike_V70-,UK,"(-0.3278, 0.0186)","(-0.1784, 0.0246)","(0.0735, 0.0259)","(0.0819, 0.0241)","(-0.0644, 0.0204)","(-0.0161, 0.026)","(0.0948, 0.0305)","(0.2128, 0.0393)","(0.351, 0.0769)","(0.4444, 0.1071)",0.0693

Observation point 2020-11-24|31
Dataframe dimension: (977, 34)
Dimension without changes over 30.0%: (969, 34)
Dimension without rows w/o 4 right-most non-null slopes: (7, 11)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS8_Q27*', 'NSP3_I1412T', 'NSP3_T183I', 'Spike_H69-', 'Spike_N501Y',
       'Spike_T716I', 'Spike_V70-'],
      dtype='object', name='change')

,isUK,2020-09-08|15,2020-09-16|23,2020-09-24|31,2020-10-01|07,2020-10-08|15,2020-10-16|23,2020-10-24|31,2020-11-01|07,2020-11-08|15,2020-11-16|23,2020-11-24|31,slopeofslopes
change,,,,,,,,,,,,,
NS8_Q27*,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.8173, 0.0219)","(1.0053, 0.0602)","(0.9271, 0.0919)","(0.5291, 0.111)",-0.0943
NSP3_I1412T,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.8927, 0.0217)","(1.0565, 0.0617)","(0.9056, 0.0932)","(0.5338, 0.112)",-0.1228
NSP3_T183I,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.7878, 0.0215)","(1.0204, 0.0619)","(0.8988, 0.0929)","(0.5415, 0.1142)",-0.0861
Spike_H69-,UK,"(-0.3278, 0.0186)","(-0.1784, 0.0246)","(0.0735, 0.0259)","(0.0819, 0.0241)","(-0.0644, 0.0204)","(-0.0161, 0.026)","(0.0934, 0.0303)","(0.2123, 0.0393)","(0.3515, 0.0769)","(0.4458, 0.1071)","(0.3749, 0.1227)",0.0660
Spike_N501Y,UK,NaN,NaN,NaN,NaN,NaN,NaN,"(0.5163, 0.0174)","(0.5952, 0.0298)","(0.6739, 0.0664)","(0.6085, 0.1013)","(0.4825, 0.1294)",-0.0054
Spike_T716I,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.8713, 0.0215)","(1.0295, 0.0618)","(0.9316, 0.0942)","(0.548, 0.116)",-0.1068
Spike_V70-,UK,"(-0.3278, 0.0186)","(-0.1784, 0.0246)","(0.0735, 0.0259)","(0.0819, 0.0241)","(-0.0644, 0.0204)","(-0.0161, 0.026)","(0.0948, 0.0305)","(0.2128, 0.0393)","(0.351, 0.0769)","(0.4444, 0.1071)","(0.3749, 0.1227)",0.0660

Observation point 2020-12-01|07
Dataframe dimension: (977, 35)
Dimension without changes over 30.0%: (969, 35)
Dimension without rows w/o 4 right-most non-null slopes: (20, 12)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['N_D3L', 'N_S235F', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'NSP3_A890D',
       'NSP3_I1412T', 'NSP3_T183I', 'NSP6_F108-', 'NSP6_G107-', 'NSP6_S106-',
       'Spike_A570D', 'Spike_D1118H', 'Spike_H69-', 'Spike_N501Y',
       'Spike_P681H', 'Spike_S982A', 'Spike_T716I', 'Spike_V70-',
       'Spike_Y144-'],
      dtype='object', name='change')

,isUK,2020-09-08|15,2020-09-16|23,2020-09-24|31,2020-10-01|07,2020-10-08|15,2020-10-16|23,2020-10-24|31,2020-11-01|07,2020-11-08|15,2020-11-16|23,2020-11-24|31,2020-12-01|07,slopeofslopes
change,,,,,,,,,,,,,,
N_D3L,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1.076, 0.0611)","(0.9453, 0.0936)","(0.5513, 0.1155)","(0.3387, 0.1761)",-0.2606
N_S235F,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1.063, 0.0608)","(0.9444, 0.0936)","(0.5496, 0.1152)","(0.3378, 0.1751)",-0.2570
NS8_Q27*,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.8173, 0.0219)","(1.0053, 0.0602)","(0.9271, 0.0919)","(0.5291, 0.111)","(0.3347, 0.1725)",-0.1441
NS8_R52I,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1.0683, 0.0599)","(0.9289, 0.0919)","(0.5373, 0.1112)","(0.3362, 0.1723)",-0.2588
NS8_Y73C,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1.0792, 0.0617)","(0.9485, 0.0945)","(0.5471, 0.1144)","(0.3355, 0.177)",-0.2633
NSP3_A890D,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1.0725, 0.0608)","(0.9377, 0.0909)","(0.5511, 0.1142)","(0.3424, 0.1763)",-0.2577
NSP3_I1412T,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.8927, 0.0217)","(1.0565, 0.0617)","(0.9056, 0.0932)","(0.5338, 0.112)","(0.3333, 0.1761)",-0.1642
NSP3_T183I,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.7878, 0.0215)","(1.0204, 0.0619)","(0.8988, 0.0929)","(0.5415, 0.1142)","(0.3351, 0.1765)",-0.1384
NSP6_F108-,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1.0766, 0.0617)","(0.9391, 0.094)","(0.5473, 0.1147)","(0.3366, 0.1772)",-0.2612
NSP6_G107-,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1.0766, 0.0617)","(0.9395, 0.0941)","(0.5474, 0.1147)","(0.3365, 0.1772)",-0.2612
NSP6_S106-,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1.0766, 0.0617)","(0.9395, 0.0941)","(0.5474, 0.1147)","(0.3365, 0.1772)",-0.2612
Spike_A570D,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1.0792, 0.0617)","(0.9477, 0.0942)","(0.5517, 0.1163)","(0.3381, 0.1774)",-0.2619
Spike_D1118H,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1.0792, 0.0617)","(0.9457, 0.0936)","(0.5504, 0.116)","(0.3378, 0.177)",-0.2620
Spike_H69-,UK,"(-0.3278, 0.0186)","(-0.1784, 0.0246)","(0.0735, 0.0259)","(0.0819, 0.0241)","(-0.0644, 0.0204)","(-0.0161, 0.026)","(0.0934, 0.0303)","(0.2123, 0.0393)","(0.3515, 0.0769)","(0.4458, 0.1071)","(0.3749, 0.1227)","(0.2756, 0.1842)",0.0577
Spike_N501Y,UK,NaN,NaN,NaN,NaN,NaN,NaN,"(0.5163, 0.0174)","(0.5952, 0.0298)","(0.6739, 0.0664)","(0.6085, 0.1013)","(0.4825, 0.1294)","(0.3238, 0.1802)",-0.0390
Spike_P681H,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.9987, 0.0637)","(0.9331, 0.097)","(0.5457, 0.1184)","(0.3292, 0.1785)",-0.2396
Spike_S982A,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1.0797, 0.0617)","(0.9444, 0.0934)","(0.5473, 0.1155)","(0.3376, 0.177)",-0.2623
Spike_T716I,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.8713, 0.0215)","(1.0295, 0.0618)","(0.9316, 0.0942)","(0.548, 0.116)","(0.3378, 0.1778)",-0.1549
Spike_V70-,UK,"(-0.3278, 0.0186)","(-0.1784, 0.0246)","(0.0735, 0.0259)","(0.0819, 0.0241)","(-0.0644, 0.0204)","(-0.0161, 0.026)","(0.0948, 0.0305)","(0.2128, 0.0393)","(0.351, 0.0769)","(0.4444, 0.1071)","(0.3749, 0.1227)","(0.2756, 0.1842)",0.0577
Spike_Y144-,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1.081, 0.0617)","(0.942, 0.0929)","(0.5411, 0.1144)","(0.3236, 0.1693)",-0.2673

Observation point 2020-12-08|15
Dataframe dimension: (977, 36)
Dimension without changes over 30.0%: (949, 36)
Dimension without rows w/o 4 right-most non-null slopes: (1, 4)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NSP13_K460R'], dtype='object', name='change')

,isUK,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,slopeofslopes
change,,,,,,
NSP13_K460R,False,"(1.0796, 0.0497)","(0.5399, 0.058)","(0.2605, 0.0737)","(0.3817, 0.1639)",-0.2373

Observation point 2020-12-16|23
Dataframe dimension: (977, 37)
Dimension without changes over 30.0%: (949, 37)
Dimension without rows w/o 4 right-most non-null slopes: (1, 5)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NSP13_K460R'], dtype='object', name='change')

,isUK,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,slopeofslopes
change,,,,,,,
NSP13_K460R,False,"(1.0796, 0.0497)","(0.5399, 0.058)","(0.2605, 0.0737)","(0.3817, 0.1639)","(0.4761, 0.2173)",-0.1365

Observation point 2020-12-24|31
Dataframe dimension: (977, 38)
Dimension without changes over 30.0%: (949, 38)
Dimension without rows w/o 4 right-most non-null slopes: (1, 6)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NSP13_K460R'], dtype='object', name='change')

,isUK,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,slopeofslopes
change,,,,,,,,
NSP13_K460R,False,"(1.0796, 0.0497)","(0.5399, 0.058)","(0.2605, 0.0737)","(0.3817, 0.1639)","(0.4761, 0.2173)","(0.4198, 0.272)",-0.0963

Observation point 2021-01-01|07
Dataframe dimension: (977, 39)
Dimension without changes over 30.0%: (949, 39)
Dimension without rows w/o 4 right-most non-null slopes: (2, 7)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS8_K68*', 'NSP13_K460R'], dtype='object', name='change')

,isUK,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,slopeofslopes
change,,,,,,,,,
NS8_K68*,False,NaN,"(0.4774, 0.0139)","(0.2766, 0.0215)","(0.413, 0.0471)","(0.535, 0.0636)","(0.4626, 0.0907)","(0.3534, 0.136)",0.0017
NSP13_K460R,False,"(1.0796, 0.0497)","(0.5399, 0.058)","(0.2605, 0.0737)","(0.3817, 0.1639)","(0.4761, 0.2173)","(0.4198, 0.272)","(0.1686, 0.2668)",-0.0985

Observation point 2021-01-08|15
Dataframe dimension: (977, 40)
Dimension without changes over 30.0%: (949, 40)
Dimension without rows w/o 4 right-most non-null slopes: (2, 8)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS8_K68*', 'NSP13_K460R'], dtype='object', name='change')

,isUK,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,slopeofslopes
change,,,,,,,,,,
NS8_K68*,False,NaN,"(0.4774, 0.0139)","(0.2766, 0.0215)","(0.413, 0.0471)","(0.535, 0.0636)","(0.4626, 0.0907)","(0.3534, 0.136)","(0.2584, 0.1316)",-0.0162
NSP13_K460R,False,"(1.0796, 0.0497)","(0.5399, 0.058)","(0.2605, 0.0737)","(0.3817, 0.1639)","(0.4761, 0.2173)","(0.4198, 0.272)","(0.1686, 0.2668)","(0.0487, 0.2573)",-0.1012

Observation point 2021-01-16|23
Dataframe dimension: (977, 41)
Dimension without changes over 30.0%: (949, 41)
Dimension without rows w/o 4 right-most non-null slopes: (2, 9)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS8_K68*', 'NSP13_K460R'], dtype='object', name='change')

,isUK,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,slopeofslopes
change,,,,,,,,,,,
NS8_K68*,False,NaN,"(0.4774, 0.0139)","(0.2766, 0.0215)","(0.413, 0.0471)","(0.535, 0.0636)","(0.4626, 0.0907)","(0.3534, 0.136)","(0.2584, 0.1316)","(0.1631, 0.158)",-0.0303
NSP13_K460R,False,"(1.0796, 0.0497)","(0.5399, 0.058)","(0.2605, 0.0737)","(0.3817, 0.1639)","(0.4761, 0.2173)","(0.4198, 0.272)","(0.1686, 0.2668)","(0.0487, 0.2573)","(-0.024, 0.2541)",-0.1006

Observation point 2021-01-24|31
Dataframe dimension: (977, 42)
Dimension without changes over 30.0%: (949, 42)
Dimension without rows w/o 4 right-most non-null slopes: (3, 11)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS8_K68*', 'NSP13_K460R', 'NSP2_L550F'], dtype='object', name='change')

,isUK,2020-11-08|15,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,slopeofslopes
change,,,,,,,,,,,,,
NS8_K68*,False,NaN,NaN,"(0.4774, 0.0139)","(0.2766, 0.0215)","(0.413, 0.0471)","(0.535, 0.0636)","(0.4626, 0.0907)","(0.3534, 0.136)","(0.2584, 0.1316)","(0.1631, 0.158)","(0.0397, 0.1461)",-0.0430
NSP13_K460R,False,NaN,"(1.0796, 0.0497)","(0.5399, 0.058)","(0.2605, 0.0737)","(0.3817, 0.1639)","(0.4761, 0.2173)","(0.4198, 0.272)","(0.1686, 0.2668)","(0.0487, 0.2573)","(-0.024, 0.2541)","(-0.013, 0.2565)",-0.0942
NSP2_L550F,False,"(0.6294, 0.0086)","(0.4638, 0.0124)","(0.3425, 0.019)","(0.3958, 0.028)","(0.4105, 0.0427)","(0.3378, 0.0509)","(0.2603, 0.063)","(0.245, 0.09)","(0.2089, 0.0907)","(0.12, 0.0937)","(0.0646, 0.1104)",-0.0459

Observation point 2021-02-01|07
Dataframe dimension: (977, 43)
Dimension without changes over 30.0%: (949, 43)
Dimension without rows w/o 4 right-most non-null slopes: (3, 12)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS8_K68*', 'NSP13_K460R', 'NSP2_L550F'], dtype='object', name='change')

,isUK,2020-11-08|15,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,2021-02-01|07,slopeofslopes
change,,,,,,,,,,,,,,
NS8_K68*,False,NaN,NaN,"(0.4774, 0.0139)","(0.2766, 0.0215)","(0.413, 0.0471)","(0.535, 0.0636)","(0.4626, 0.0907)","(0.3534, 0.136)","(0.2584, 0.1316)","(0.1631, 0.158)","(0.0397, 0.1461)","(0.0171, 0.143)",-0.0484
NSP13_K460R,False,NaN,"(1.0796, 0.0497)","(0.5399, 0.058)","(0.2605, 0.0737)","(0.3817, 0.1639)","(0.4761, 0.2173)","(0.4198, 0.272)","(0.1686, 0.2668)","(0.0487, 0.2573)","(-0.024, 0.2541)","(-0.013, 0.2565)","(0.0268, 0.2805)",-0.0846
NSP2_L550F,False,"(0.6294, 0.0086)","(0.4638, 0.0124)","(0.3425, 0.019)","(0.3958, 0.028)","(0.4105, 0.0427)","(0.3378, 0.0509)","(0.2603, 0.063)","(0.245, 0.09)","(0.2089, 0.0907)","(0.12, 0.0937)","(0.0646, 0.1104)","(0.0583, 0.1043)",-0.0452

Observation point 2021-02-08|15
Dataframe dimension: (977, 44)
Dimension without changes over 30.0%: (949, 44)
Dimension without rows w/o 4 right-most non-null slopes: (3, 13)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS8_K68*', 'NSP13_K460R', 'NSP2_L550F'], dtype='object', name='change')

,isUK,2020-11-08|15,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,slopeofslopes
change,,,,,,,,,,,,,,,
NS8_K68*,False,NaN,NaN,"(0.4774, 0.0139)","(0.2766, 0.0215)","(0.413, 0.0471)","(0.535, 0.0636)","(0.4626, 0.0907)","(0.3534, 0.136)","(0.2584, 0.1316)","(0.1631, 0.158)","(0.0397, 0.1461)","(0.0171, 0.143)","(-0.0115, 0.1531)",-0.0505
NSP13_K460R,False,NaN,"(1.0796, 0.0497)","(0.5399, 0.058)","(0.2605, 0.0737)","(0.3817, 0.1639)","(0.4761, 0.2173)","(0.4198, 0.272)","(0.1686, 0.2668)","(0.0487, 0.2573)","(-0.024, 0.2541)","(-0.013, 0.2565)","(0.0268, 0.2805)","(0.0179, 0.2618)",-0.0761
NSP2_L550F,False,"(0.6294, 0.0086)","(0.4638, 0.0124)","(0.3425, 0.019)","(0.3958, 0.028)","(0.4105, 0.0427)","(0.3378, 0.0509)","(0.2603, 0.063)","(0.245, 0.09)","(0.2089, 0.0907)","(0.12, 0.0937)","(0.0646, 0.1104)","(0.0583, 0.1043)","(0.0812, 0.1252)",-0.0426

Observation point 2021-02-16|23
Dataframe dimension: (977, 45)
Dimension without changes over 30.0%: (949, 45)
Dimension without rows w/o 4 right-most non-null slopes: (3, 14)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS8_K68*', 'NSP13_K460R', 'NSP2_L550F'], dtype='object', name='change')

,isUK,2020-11-08|15,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,2021-02-16|23,slopeofslopes
change,,,,,,,,,,,,,,,,
NS8_K68*,False,NaN,NaN,"(0.4774, 0.0139)","(0.2766, 0.0215)","(0.413, 0.0471)","(0.535, 0.0636)","(0.4626, 0.0907)","(0.3534, 0.136)","(0.2584, 0.1316)","(0.1631, 0.158)","(0.0397, 0.1461)","(0.0171, 0.143)","(-0.0115, 0.1531)","(0.0592, 0.1739)",-0.0470
NSP13_K460R,False,NaN,"(1.0796, 0.0497)","(0.5399, 0.058)","(0.2605, 0.0737)","(0.3817, 0.1639)","(0.4761, 0.2173)","(0.4198, 0.272)","(0.1686, 0.2668)","(0.0487, 0.2573)","(-0.024, 0.2541)","(-0.013, 0.2565)","(0.0268, 0.2805)","(0.0179, 0.2618)","(-0.0326, 0.2354)",-0.0702
NSP2_L550F,False,"(0.6294, 0.0086)","(0.4638, 0.0124)","(0.3425, 0.019)","(0.3958, 0.028)","(0.4105, 0.0427)","(0.3378, 0.0509)","(0.2603, 0.063)","(0.245, 0.09)","(0.2089, 0.0907)","(0.12, 0.0937)","(0.0646, 0.1104)","(0.0583, 0.1043)","(0.0812, 0.1252)","(0.101, 0.1454)",-0.0391

Observation point 2021-02-24|31
Dataframe dimension: (977, 46)
Dimension without changes over 30.0%: (949, 46)
Dimension without rows w/o 4 right-most non-null slopes: (3, 15)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS8_K68*', 'NSP13_K460R', 'NSP2_L550F'], dtype='object', name='change')

,isUK,2020-11-08|15,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,2021-02-16|23,2021-02-24|31,slopeofslopes
change,,,,,,,,,,,,,,,,,
NS8_K68*,False,NaN,NaN,"(0.4774, 0.0139)","(0.2766, 0.0215)","(0.413, 0.0471)","(0.535, 0.0636)","(0.4626, 0.0907)","(0.3534, 0.136)","(0.2584, 0.1316)","(0.1631, 0.158)","(0.0397, 0.1461)","(0.0171, 0.143)","(-0.0115, 0.1531)","(0.0592, 0.1739)","(0.0985, 0.1903)",-0.0420
NSP13_K460R,False,NaN,"(1.0796, 0.0497)","(0.5399, 0.058)","(0.2605, 0.0737)","(0.3817, 0.1639)","(0.4761, 0.2173)","(0.4198, 0.272)","(0.1686, 0.2668)","(0.0487, 0.2573)","(-0.024, 0.2541)","(-0.013, 0.2565)","(0.0268, 0.2805)","(0.0179, 0.2618)","(-0.0326, 0.2354)","(-0.1155, 0.1977)",-0.0668
NSP2_L550F,False,"(0.6294, 0.0086)","(0.4638, 0.0124)","(0.3425, 0.019)","(0.3958, 0.028)","(0.4105, 0.0427)","(0.3378, 0.0509)","(0.2603, 0.063)","(0.245, 0.09)","(0.2089, 0.0907)","(0.12, 0.0937)","(0.0646, 0.1104)","(0.0583, 0.1043)","(0.0812, 0.1252)","(0.101, 0.1454)","(0.1676, 0.1734)",-0.0343

Observation point 2021-03-01|07
Dataframe dimension: (977, 47)
Dimension without changes over 30.0%: (949, 47)
Dimension without rows w/o 4 right-most non-null slopes: (3, 16)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS8_K68*', 'NSP13_K460R', 'NSP2_L550F'], dtype='object', name='change')

,isUK,2020-11-08|15,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,2021-02-16|23,2021-02-24|31,2021-03-01|07,slopeofslopes
change,,,,,,,,,,,,,,,,,,
NS8_K68*,False,NaN,NaN,"(0.4774, 0.0139)","(0.2766, 0.0215)","(0.413, 0.0471)","(0.535, 0.0636)","(0.4626, 0.0907)","(0.3534, 0.136)","(0.2584, 0.1316)","(0.1631, 0.158)","(0.0397, 0.1461)","(0.0171, 0.143)","(-0.0115, 0.1531)","(0.0592, 0.1739)","(0.0985, 0.1903)","(0.0518, 0.1766)",-0.0390
NSP13_K460R,False,NaN,"(1.0796, 0.0497)","(0.5399, 0.058)","(0.2605, 0.0737)","(0.3817, 0.1639)","(0.4761, 0.2173)","(0.4198, 0.272)","(0.1686, 0.2668)","(0.0487, 0.2573)","(-0.024, 0.2541)","(-0.013, 0.2565)","(0.0268, 0.2805)","(0.0179, 0.2618)","(-0.0326, 0.2354)","(-0.1155, 0.1977)","(-0.095, 0.2022)",-0.0624
NSP2_L550F,False,"(0.6294, 0.0086)","(0.4638, 0.0124)","(0.3425, 0.019)","(0.3958, 0.028)","(0.4105, 0.0427)","(0.3378, 0.0509)","(0.2603, 0.063)","(0.245, 0.09)","(0.2089, 0.0907)","(0.12, 0.0937)","(0.0646, 0.1104)","(0.0583, 0.1043)","(0.0812, 0.1252)","(0.101, 0.1454)","(0.1676, 0.1734)","(0.1174, 0.1746)",-0.0313

Observation point 2021-03-08|15
Dataframe dimension: (977, 48)
Dimension without changes over 30.0%: (949, 48)
Dimension without rows w/o 4 right-most non-null slopes: (3, 17)
['NSP3_T183I', 'NSP3_A890D', 'NSP3_I1412T', 'NSP6_S106_', 'NSP6_G107_', 'NSP6_F108_', 'Spike_Y144-', 'Spike_H69-', 'Spike_V70-', 'Spike_N501Y', 'Spike_A570D', 'Spike_P681H', 'Spike_T716I', 'Spike_S982A', 'Spike_D1118H', 'NS8_Q27*', 'NS8_R52I', 'NS8_Y73C', 'N_D3L', 'N_S235F']
Index(['NS8_K68*', 'NSP13_K460R', 'NSP2_L550F'], dtype='object', name='change')

,isUK,2020-11-08|15,2020-11-16|23,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,2021-02-16|23,2021-02-24|31,2021-03-01|07,2021-03-08|15,slopeofslopes
change,,,,,,,,,,,,,,,,,,,
NS8_K68*,False,NaN,NaN,"(0.4774, 0.0139)","(0.2766, 0.0215)","(0.413, 0.0471)","(0.535, 0.0636)","(0.4626, 0.0907)","(0.3534, 0.136)","(0.2584, 0.1316)","(0.1631, 0.158)","(0.0397, 0.1461)","(0.0171, 0.143)","(-0.0115, 0.1531)","(0.0592, 0.1739)","(0.0985, 0.1903)","(0.0518, 0.1766)","(0.0325, 0.1987)",-0.0366
NSP13_K460R,False,NaN,"(1.0796, 0.0497)","(0.5399, 0.058)","(0.2605, 0.0737)","(0.3817, 0.1639)","(0.4761, 0.2173)","(0.4198, 0.272)","(0.1686, 0.2668)","(0.0487, 0.2573)","(-0.024, 0.2541)","(-0.013, 0.2565)","(0.0268, 0.2805)","(0.0179, 0.2618)","(-0.0326, 0.2354)","(-0.1155, 0.1977)","(-0.095, 0.2022)","(-0.0438, 0.202)",-0.0570
NSP2_L550F,False,"(0.6294, 0.0086)","(0.4638, 0.0124)","(0.3425, 0.019)","(0.3958, 0.028)","(0.4105, 0.0427)","(0.3378, 0.0509)","(0.2603, 0.063)","(0.245, 0.09)","(0.2089, 0.0907)","(0.12, 0.0937)","(0.0646, 0.1104)","(0.0583, 0.1043)","(0.0812, 0.1252)","(0.101, 0.1454)","(0.1676, 0.1734)","(0.1174, 0.1746)","(0.171, 0.2565)",-0.0277

Observation point 2021-03-16|23
Dataframe dimension: (977, 49)
Dimension without changes over 30.0%: (949, 49)

In [138]:
#stampa grafico solo per quel triangolino (fare grafico delle slope-delle-slopes? cosi si vede le variazioni delle variazioni (derivata seconda))

#vedi chi sono queste per cui dò un alert.(rimangono solo le 5 californiane?)
#vedo se all'inizio prevedo la 3/4 americana e la 5-8th!