Notebook to read the csv file and analyze it

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import sqlalchemy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from itertools import *
from adjustText import adjust_text
import ast

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [36]:
#SOURCES
#https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/variant-surveillance/variant-info.html
#https://cov-lineages.org/
#https://virological.org/t/preliminary-genomic-characterisation-of-an-emergent-sars-cov-2-lineage-in-the-uk-defined-by-a-novel-set-of-spike-mutations/563 (UK only)
#https://jamanetwork.com/journals/jama/fullarticle/2776543 (california only)
variant_dic = {
    #B.1.526
    "ny6":['Spike_L5F','Spike_T95I','Spike_D253G','Spike_E484K','Spike_S477N','Spike_D614G','Spike_A701V','NSP4_L438P','NSP2_T85I','NSP6_S106-','NSP6_G107-','NSP6_F108-','NSP12_P323L','NSP13_Q88H','NS3_P42L','NS3_Q57H','NS8_T11I'],
    #B.1.525
    "ny5":['Spike_A67V','Spike_H69-','Spike_V70-','Spike_Y144-','Spike_E484K','Spike_D614G','Spike_Q677H','Spike_F888L','NSP12_P323F','NSP3_T1189I','M_I82T','N_A12G','N_T205I'],
    #P.1/variant
    "br":['NSP3_S370L','NSP3_K977Q','NSP6_S106_','NSP6_G107_','NSP6_F108_','Spike_L18F','Spike_T20N','Spike_P26S','Spike_D138Y','Spike_R190S','Spike_K417T','Spike_E484K','Spike_N501Y','Spike_H655Y','Spike_T1027I','NS3_G174C','NS8_E92K','N_P80R','Spike_K417N'],
    #p.2
    "br2":['Spike_E484K','Spike_D614G','Spike_V1176F','NSP5_L205V','NSP7_L71F','NSP12_P323L','N_A119S','N_R203K','N_G204R','N_M234I'],
    #B.1.1.7/501Y.V1
    "uk":['NSP3_T183I','NSP3_A890D','NSP3_I1412T','NSP6_S106-','NSP6_G107-','NSP6_F108-', 'Spike_Y144-','Spike_H69-','Spike_V70-','Spike_N501Y','Spike_A570D','Spike_P681H','Spike_T716I','Spike_S982A','Spike_D1118H','NS8_Q27*','NS8_R52I','NS8_Y73C','N_D3L','N_S235F','Spike_E484K','SpikeS494P','Spike_D614G'],
    #B.1.351/501Y.V2
    "sa":['E_P71L','N_T205I','NSP3_K837N','Spike_D80A','Spike_D215G','Spike_K417N','Spike_A701V','Spike_N501Y','Spike_E484K'],
    #A.23.1
    "ug":['Spike_F157L','Spike_V367F','Spike_Q613H','Spike_P681R'],
    #B.1.525
    "ni":['NSP12_P323L','Spike_Q52R','Spike_E484K','Spike_Q677H','Spike_F888L','E_L21F','E_I82T','NSP6_S106_','NSP6_G107_','NSP6_F108_','Spike_H69-','Spike_V70-','N_S2-'],
    #B.1.429
    "ca":['NSP9_I65V','NSP13_D260Y','Spike_S13I','Spike_W152C','Spike_L452R'],
    #minks
    "c5":['Spike_H69-','Spike_V70-','Spike_Y453F','Spike_I692V','Spike_S1147L','Spike_M1229I'],
    #4US
    "4US":['NS8_S24L','NSP5_L89F','N_P199L','NSP14_N129D'],
    #indianI/A3i
    "indianI/A3i":['NSP6_L37F','NSP12_A97V','N_P13L','NSP3_T1198K'],
    #indian_new
    'indian_new':['Spike_N440K']
    
}

In [29]:
engine = sqlalchemy.create_engine(
    sqlalchemy.engine.url.URL(
        drivername="postgresql",
        username="geco",
        password="geco78",
        host="localhost",
        port="5432",
        database="vcm_gisaid_du_2"
    ),
    echo_pool=True,
)

print("connecting with engine " + str(engine))
connection = engine.connect()

#connection.close()
#engine.dispose()

connecting with engine Engine(postgresql://geco:***@localhost:5432/vcm_gisaid_du_2)

In [30]:
obs_periods = 3
coeff_threshold = 0.25

In [37]:
big_slopes_matrix = pd.read_csv('Washington_mut5_obs3_2020-01.csv', index_col='change') 

big_slopes_matrix = big_slopes_matrix.applymap(lambda x: ast.literal_eval(x) if pd.notnull(x) else x)

In [6]:
#big_slopes_matrix_clean_row
#big_slopes_matrix_clean_row.iloc[:,3:]

In [7]:
#big_slopes_matrix_clean_row

In [38]:
#FILTERING OF THE BIG SLOPES MATRIX

#columns with only NaNs to be eliminated #https://stackoverflow.com/questions/45147100/pandas-drop-columns-with-all-nans
big_slopes_matrix_clean = big_slopes_matrix.dropna(axis = 1, how = 'all')
#rows with only NaNs to be eliminated
big_slopes_matrix_clean_row = big_slopes_matrix_clean.dropna(axis = 0, how = 'all')

#ciclare colonna per colonna, il df guardato  solo a sx di quella colonna
#parto dalla posizione che mi permette di osserver #obs_periods, quindi se  4 periodi, pardo dalla quarta colonna perch poi devo avere almeno 4 periodi da guardare a sx
for column in big_slopes_matrix_clean_row.iloc[:,obs_periods-1:]:   #big_slopes_matrix_clean_row: 
    
    print('\nObservation point ' + column)
    #sub-dataset sinistro (incluso) alla data espressa da column
    up_to_moment = big_slopes_matrix_clean_row.loc[:,:column]
    #up_to_moment (65, 4)
    print(f'Dataframe dimension: {up_to_moment.shape}')
    
    #in quel df sinistro, butto via chi  gi arrivato a 0.25 (non su tutto il df!)
    #eliminate rows with at least one observazion > 25% https://stackoverflow.com/questions/47914985/drop-a-row-in-a-pandas-dataframe-if-any-column-contains-a-certain-value-in-said
    up_to_moment_below = up_to_moment[~up_to_moment.applymap(lambda x: x[1] >= coeff_threshold if type(x) is tuple else x).any(1)] 
    #up_to_moment_below (58, 4)
    print(f'Dimension without changes over {coeff_threshold*100}%: {up_to_moment_below.shape}')
    
    if ~up_to_moment_below.isnull().all().all():   #se questo dataset sinistro non  gi tutto nullo, andiamo avanti 
        
        #eliminate rows that do not have at least #obs_periods consecutive slopes_observations
        up_to_moment_below_stretch = up_to_moment_below
     
        #for index, row in up_to_moment_below.applymap(lambda x: x[1] if type(x) is tuple else x).iterrows():
        for index, row in up_to_moment_below.iterrows():
            
            gg = up_to_moment_below.loc[index]
            
            if ~gg.isnull().all(): #vado avanti solo per le righe che non sono gi tutte nulle
                m = np.concatenate(( [True], pd.isnull(gg), [True] ))  # Mask
                ss = np.flatnonzero(m[1:] != m[:-1]).reshape(-1,2)   # Start-stop limits
                start,stop = ss[(ss[:,1] - ss[:,0]).argmax()]  # Get max interval, interval limits
                #print(f'{start}, {stop}')
                if stop - start < obs_periods or stop < up_to_moment_below.shape[1] or (up_to_moment_below.loc[index].iloc[-1])[1]<0.1: #https://stackoverflow.com/questions/13842088/set-value-for-particular-cell-in-pandas-dataframe-using-index
                    #droppo le righe che non hanno almeno obs_periods non nulli consecutivi (stop - start < obs_periods)
                    #dropp le righe che hanno lo stretch di obs_periods non all'estremo destro (stop < up_to_moment_below.shape[1])
                    # droppo le righe che non raggiungono il 10% (nell'estremo destro)
                    up_to_moment_below_stretch = up_to_moment_below_stretch.drop(index) 
                    
        if ~up_to_moment_below_stretch.isnull().all().all(): #vado avanti solo se la matrice non  diventata tutta nulla
            #tolgo tutte le righe nulle, rimangono solo quelle interessanti
            #droppa le colonne con tutti null, tenendo solo il treno non nullo pi recente
            up_to_moment_below_stretch = up_to_moment_below_stretch.dropna(axis = 0, how = 'all').dropna(axis = 1, how = 'all')   
            print(f'Dimension without rows w/o {obs_periods} right-most non-null slopes: {up_to_moment_below_stretch.shape}')
            up_to_moment_below_stretch_final = up_to_moment_below_stretch.copy()
            #questa riga aggiunge una colonna, per ciascuna riga la lambda function fa round della slope (z[0]) calcolata da x e y 
            #dove x  un vettore arange fatto con la lunghezza dei numeri not nan della riga e 
            #dove y  un vettore generato da list comprehension di row.dropna prendendo solo gli elementi 0 (perch ho delle tuple)
            up_to_moment_below_stretch_final['slopeofslopes'] = up_to_moment_below_stretch_final.apply(lambda row: round((np.polyfit(np.arange(len(row.dropna())),[x[0] for x in row.dropna()], 1))[0],4), axis = 1)
            
            ##scommentare solo se si commentano tutti i filtri sotto e si vuole stampare la matrice anche con slopofslopes negative
            #up_to_moment_below_stretch_final['ifUK'] = up_to_moment_below_stretch_final.apply(lambda row: up_to_moment_below_stretch_final.index[up_to_moment_below_stretch_final.loc[row]])
            
          #  print(type(variant_dic.get("california")))
          #  print(str(up_to_moment_below_stretch_final.index))
           # up_to_moment_below_stretch_final['known'] = 'UK' if str(up_to_moment_below_stretch_final.index[0]) in  variant_dic.get("uk") else False
            
           # belonging_variants = [a for a, b in variant_dic.items() if column.split(':')[0] in b]
            up_to_moment_below_stretch_final['change_tmp'] = up_to_moment_below_stretch_final.index
            
            #up_to_moment_below_stretch_final['known'] = up_to_moment_below_stretch_final.apply(lambda row: row['change_tmp'],axis=1)
            up_to_moment_below_stretch_final['known'] = up_to_moment_below_stretch_final.apply(lambda row: [a for a, b in variant_dic.items() if row['change_tmp'] in b],axis=1)
            del up_to_moment_below_stretch_final['change_tmp']
            known = up_to_moment_below_stretch_final.pop('known')
            up_to_moment_below_stretch_final.insert(0, 'known', known)
            #up_to_moment_below_stretch_final.insert(0,"isCali",True if str(up_to_moment_below_stretch_final.index[0]) in  variant_dic.get("california") else False)
              
            
            up_to_moment_below_stretch_final
            #Per filtrare le rows con slope of slopes che sta scendendo
            #up_to_moment_below_stretch_final = up_to_moment_below_stretch_final.loc[up_to_moment_below_stretch_final['slopeofslopes']>0]
            #if ~up_to_moment_below_stretch_final.isnull().all().all():
            #    print(f'HERE I CAN THROW AN ALERT FOR AMINO ACID CHANGE(S) {up_to_moment_below_stretch_final.index.values.tolist()}')
            #    #qui ordino le rige per slope of slopes ma devo trovare modo pi sofisticato per clusterizzare quelle simili
            #    up_to_moment_below_stretch_final.sort_values(by='slopeofslopes', ascending=False)

Observation point 2020-03-24|31
Dataframe dimension: (133, 3)
Dimension without changes over 25.0%: (126, 3)

Observation point 2020-04-01|07
Dataframe dimension: (133, 4)
Dimension without changes over 25.0%: (126, 4)

Observation point 2020-04-08|15
Dataframe dimension: (133, 5)
Dimension without changes over 25.0%: (126, 5)

Observation point 2020-04-16|23
Dataframe dimension: (133, 6)
Dimension without changes over 25.0%: (126, 6)

Observation point 2020-04-24|31
Dataframe dimension: (133, 7)
Dimension without changes over 25.0%: (126, 7)

Observation point 2020-05-01|07
Dataframe dimension: (133, 8)
Dimension without changes over 25.0%: (126, 8)

Observation point 2020-05-08|15
Dataframe dimension: (133, 9)
Dimension without changes over 25.0%: (124, 9)

Observation point 2020-05-16|23
Dataframe dimension: (133, 10)
Dimension without changes over 25.0%: (124, 10)

Observation point 2020-05-24|31
Dataframe dimension: (133, 11)
Dimension without changes over 25.0%: (123, 11)

Observation point 2020-06-01|07
Dataframe dimension: (133, 12)
Dimension without changes over 25.0%: (123, 12)

Observation point 2020-06-08|15
Dataframe dimension: (133, 13)
Dimension without changes over 25.0%: (123, 13)

Observation point 2020-06-16|23
Dataframe dimension: (133, 14)
Dimension without changes over 25.0%: (123, 14)

Observation point 2020-06-24|31
Dataframe dimension: (133, 15)
Dimension without changes over 25.0%: (119, 15)

Observation point 2020-07-01|07
Dataframe dimension: (133, 16)
Dimension without changes over 25.0%: (114, 16)
Dimension without rows w/o 3 right-most non-null slopes: (1, 3)

,known,2020-06-16|23,2020-06-24|31,2020-07-01|07,slopeofslopes
change,,,,,
NSP12_G25Y,[],"(0.0484, 0.0203, 7)","(1.2234, 0.1982, 44)","(1.2066, 0.2273, 15)",0.5791

Observation point 2020-07-08|15
Dataframe dimension: (133, 17)
Dimension without changes over 25.0%: (114, 17)

Observation point 2020-07-16|23
Dataframe dimension: (133, 18)
Dimension without changes over 25.0%: (114, 18)

Observation point 2020-07-24|31
Dataframe dimension: (133, 19)
Dimension without changes over 25.0%: (114, 19)

Observation point 2020-08-01|07
Dataframe dimension: (133, 20)
Dimension without changes over 25.0%: (114, 20)

Observation point 2020-08-08|15
Dataframe dimension: (133, 21)
Dimension without changes over 25.0%: (113, 21)

Observation point 2020-08-16|23
Dataframe dimension: (133, 22)
Dimension without changes over 25.0%: (112, 22)

Observation point 2020-08-24|31
Dataframe dimension: (133, 23)
Dimension without changes over 25.0%: (112, 23)

Observation point 2020-09-01|07
Dataframe dimension: (133, 24)
Dimension without changes over 25.0%: (112, 24)

Observation point 2020-09-08|15
Dataframe dimension: (133, 25)
Dimension without changes over 25.0%: (112, 25)

Observation point 2020-09-16|23
Dataframe dimension: (133, 26)
Dimension without changes over 25.0%: (112, 26)

Observation point 2020-09-24|31
Dataframe dimension: (133, 27)
Dimension without changes over 25.0%: (112, 27)

Observation point 2020-10-01|07
Dataframe dimension: (133, 28)
Dimension without changes over 25.0%: (112, 28)

Observation point 2020-10-08|15
Dataframe dimension: (133, 29)
Dimension without changes over 25.0%: (111, 29)

Observation point 2020-10-16|23
Dataframe dimension: (133, 30)
Dimension without changes over 25.0%: (111, 30)

Observation point 2020-10-24|31
Dataframe dimension: (133, 31)
Dimension without changes over 25.0%: (111, 31)

Observation point 2020-11-01|07
Dataframe dimension: (133, 32)
Dimension without changes over 25.0%: (111, 32)

Observation point 2020-11-08|15
Dataframe dimension: (133, 33)
Dimension without changes over 25.0%: (111, 33)

Observation point 2020-11-16|23
Dataframe dimension: (133, 34)
Dimension without changes over 25.0%: (111, 34)

Observation point 2020-11-24|31
Dataframe dimension: (133, 35)
Dimension without changes over 25.0%: (111, 35)

Observation point 2020-12-01|07
Dataframe dimension: (133, 36)
Dimension without changes over 25.0%: (111, 36)

Observation point 2020-12-08|15
Dataframe dimension: (133, 37)
Dimension without changes over 25.0%: (111, 37)
Dimension without rows w/o 3 right-most non-null slopes: (1, 3)

,known,2020-11-24|31,2020-12-01|07,2020-12-08|15,slopeofslopes
change,,,,,
NSP3_M1788I,[],"(0.0634, 0.1524, 16)","(-0.431, 0.0725, 10)","(0.1666, 0.2126, 37)",0.0516

Observation point 2020-12-16|23
Dataframe dimension: (133, 38)
Dimension without changes over 25.0%: (111, 38)

Observation point 2020-12-24|31
Dataframe dimension: (133, 39)
Dimension without changes over 25.0%: (111, 39)
Dimension without rows w/o 3 right-most non-null slopes: (1, 5)

,known,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,slopeofslopes
change,,,,,,,
NSP3_M1788I,[],"(0.0634, 0.1524, 16)","(-0.431, 0.0725, 10)","(0.1666, 0.2126, 37)","(-0.0977, 0.0596, 9)","(-0.3067, 0.1152, 19)",-0.0407

Observation point 2021-01-01|07
Dataframe dimension: (133, 40)
Dimension without changes over 25.0%: (111, 40)
Dimension without rows w/o 3 right-most non-null slopes: (2, 6)

,known,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,slopeofslopes
change,,,,,,,,
NSP13_D260Y,[ca],NaN,NaN,NaN,"(0.2348, 0.0927, 14)","(-0.1762, 0.0485, 8)","(0.0964, 0.1124, 19)",-0.0692
NSP3_M1788I,[],"(0.0634, 0.1524, 16)","(-0.431, 0.0725, 10)","(0.1666, 0.2126, 37)","(-0.0977, 0.0596, 9)","(-0.3067, 0.1152, 19)","(0.2617, 0.1006, 17)",0.0314

Observation point 2021-01-08|15
Dataframe dimension: (133, 41)
Dimension without changes over 25.0%: (111, 41)
Dimension without rows w/o 3 right-most non-null slopes: (4, 7)

,known,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,slopeofslopes
change,,,,,,,,,
NSP13_D260Y,[ca],NaN,NaN,NaN,"(0.2348, 0.0927, 14)","(-0.1762, 0.0485, 8)","(0.0964, 0.1124, 19)","(0.3973, 0.1073, 41)",0.0760
NSP3_M1788I,[],"(0.0634, 0.1524, 16)","(-0.431, 0.0725, 10)","(0.1666, 0.2126, 37)","(-0.0977, 0.0596, 9)","(-0.3067, 0.1152, 19)","(0.2617, 0.1006, 17)","(0.074, 0.1335, 51)",0.0337
N_T205I,"[ny5, sa]",NaN,NaN,NaN,NaN,"(0.1177, 0.0727, 12)","(-0.0007, 0.1124, 19)","(0.2411, 0.1178, 45)",0.0617
Spike_L452R,[ca],NaN,NaN,NaN,NaN,"(-0.085, 0.0485, 8)","(0.0964, 0.1124, 19)","(0.4326, 0.1152, 44)",0.2588

Observation point 2021-01-16|23
Dataframe dimension: (133, 42)
Dimension without changes over 25.0%: (111, 42)
Dimension without rows w/o 3 right-most non-null slopes: (7, 8)

,known,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,slopeofslopes
change,,,,,,,,,,
NSP13_D260Y,[ca],NaN,NaN,NaN,"(0.2348, 0.0927, 14)","(-0.1762, 0.0485, 8)","(0.0964, 0.1124, 19)","(0.3973, 0.1073, 41)","(0.0739, 0.1303, 55)",0.0252
NSP3_M1788I,[],"(0.0634, 0.1524, 16)","(-0.431, 0.0725, 10)","(0.1666, 0.2126, 37)","(-0.0977, 0.0596, 9)","(-0.3067, 0.1152, 19)","(0.2617, 0.1006, 17)","(0.074, 0.1335, 51)","(0.1813, 0.1445, 61)",0.0408
NSP9_I65V,[ca],NaN,NaN,NaN,NaN,"(-0.0402, 0.0424, 7)","(-0.0833, 0.1065, 18)","(0.3079, 0.0785, 30)","(0.0223, 0.1114, 47)",0.0579
N_T205I,"[ny5, sa]",NaN,NaN,NaN,NaN,"(0.1177, 0.0727, 12)","(-0.0007, 0.1124, 19)","(0.2411, 0.1178, 45)","(0.1004, 0.1374, 58)",0.0190
Spike_L452R,[ca],NaN,NaN,NaN,NaN,"(-0.085, 0.0485, 8)","(0.0964, 0.1124, 19)","(0.4326, 0.1152, 44)","(0.1945, 0.1659, 70)",0.1175
Spike_S13I,[ca],NaN,NaN,NaN,NaN,"(-0.085, 0.0485, 8)","(0.1464, 0.1065, 18)","(0.3182, 0.0916, 35)","(0.0432, 0.1161, 49)",0.0556
Spike_W152C,[ca],NaN,NaN,NaN,NaN,"(-0.2289, 0.0364, 6)","(0.0749, 0.0769, 13)","(0.4761, 0.0942, 36)","(0.2545, 0.128, 54)",0.1851

Observation point 2021-01-24|31
Dataframe dimension: (133, 43)
Dimension without changes over 25.0%: (111, 43)
Dimension without rows w/o 3 right-most non-null slopes: (7, 9)

,known,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,slopeofslopes
change,,,,,,,,,,,
NSP13_D260Y,[ca],NaN,NaN,NaN,"(0.2348, 0.0927, 14)","(-0.1762, 0.0485, 8)","(0.0964, 0.1124, 19)","(0.3973, 0.1073, 41)","(0.0739, 0.1303, 55)","(0.3538, 0.2178, 93)",0.0470
NSP3_M1788I,[],"(0.0634, 0.1524, 16)","(-0.431, 0.0725, 10)","(0.1666, 0.2126, 37)","(-0.0977, 0.0596, 9)","(-0.3067, 0.1152, 19)","(0.2617, 0.1006, 17)","(0.074, 0.1335, 51)","(0.1813, 0.1445, 61)","(-0.0965, 0.1101, 47)",0.0229
NSP9_I65V,[ca],NaN,NaN,NaN,NaN,"(-0.0402, 0.0424, 7)","(-0.0833, 0.1065, 18)","(0.3079, 0.0785, 30)","(0.0223, 0.1114, 47)","(0.4221, 0.1827, 78)",0.1030
N_T205I,"[ny5, sa]",NaN,NaN,NaN,NaN,"(0.1177, 0.0727, 12)","(-0.0007, 0.1124, 19)","(0.2411, 0.1178, 45)","(0.1004, 0.1374, 58)","(0.3232, 0.2248, 96)",0.0512
Spike_L452R,[ca],NaN,NaN,NaN,NaN,"(-0.085, 0.0485, 8)","(0.0964, 0.1124, 19)","(0.4326, 0.1152, 44)","(0.1945, 0.1659, 70)","(0.3744, 0.2436, 104)",0.1017
Spike_S13I,[ca],NaN,NaN,NaN,NaN,"(-0.085, 0.0485, 8)","(0.1464, 0.1065, 18)","(0.3182, 0.0916, 35)","(0.0432, 0.1161, 49)","(0.4221, 0.2131, 91)",0.0911
Spike_W152C,[ca],NaN,NaN,NaN,NaN,"(-0.2289, 0.0364, 6)","(0.0749, 0.0769, 13)","(0.4761, 0.0942, 36)","(0.2545, 0.128, 54)","(0.4135, 0.2155, 92)",0.1464

Observation point 2021-02-01|07
Dataframe dimension: (133, 44)
Dimension without changes over 25.0%: (108, 44)
Dimension without rows w/o 3 right-most non-null slopes: (5, 10)

,known,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,2021-02-01|07,slopeofslopes
change,,,,,,,,,,,,
N_M234I,[br2],NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(-0.2933, 0.0592, 25)","(0.4269, 0.0984, 42)","(0.2705, 0.1018, 58)",0.2819
NSP3_M1788I,[],"(0.0634, 0.1524, 16)","(-0.431, 0.0725, 10)","(0.1666, 0.2126, 37)","(-0.0977, 0.0596, 9)","(-0.3067, 0.1152, 19)","(0.2617, 0.1006, 17)","(0.074, 0.1335, 51)","(0.1813, 0.1445, 61)","(-0.0965, 0.1101, 47)","(-0.0537, 0.1298, 74)",0.0148
NSP9_I65V,[ca],NaN,NaN,NaN,NaN,"(-0.0402, 0.0424, 7)","(-0.0833, 0.1065, 18)","(0.3079, 0.0785, 30)","(0.0223, 0.1114, 47)","(0.4221, 0.1827, 78)","(0.2563, 0.186, 106)",0.0775
Spike_S13I,[ca],NaN,NaN,NaN,NaN,"(-0.085, 0.0485, 8)","(0.1464, 0.1065, 18)","(0.3182, 0.0916, 35)","(0.0432, 0.1161, 49)","(0.4221, 0.2131, 91)","(0.3298, 0.2246, 128)",0.0750
Spike_W152C,[ca],NaN,NaN,NaN,NaN,"(-0.2289, 0.0364, 6)","(0.0749, 0.0769, 13)","(0.4761, 0.0942, 36)","(0.2545, 0.128, 54)","(0.4135, 0.2155, 92)","(0.3078, 0.2368, 135)",0.0994

Observation point 2021-02-08|15
Dataframe dimension: (133, 45)
Dimension without changes over 25.0%: (108, 45)
Dimension without rows w/o 3 right-most non-null slopes: (5, 11)

,known,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,slopeofslopes
change,,,,,,,,,,,,,
NSP3_M1788I,[],"(0.0634, 0.1524, 16)","(-0.431, 0.0725, 10)","(0.1666, 0.2126, 37)","(-0.0977, 0.0596, 9)","(-0.3067, 0.1152, 19)","(0.2617, 0.1006, 17)","(0.074, 0.1335, 51)","(0.1813, 0.1445, 61)","(-0.0965, 0.1101, 47)","(-0.0537, 0.1298, 74)","(0.0014, 0.1104, 34)",0.0123
NSP9_I65V,[ca],NaN,NaN,NaN,NaN,"(-0.0402, 0.0424, 7)","(-0.0833, 0.1065, 18)","(0.3079, 0.0785, 30)","(0.0223, 0.1114, 47)","(0.4221, 0.1827, 78)","(0.2563, 0.186, 106)","(-0.059, 0.1623, 50)",0.0263
Spike_P681H,[uk],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.4221, 0.0913, 39)","(-0.022, 0.093, 53)","(0.1092, 0.1136, 35)",-0.1564
Spike_S13I,[ca],NaN,NaN,NaN,NaN,"(-0.085, 0.0485, 8)","(0.1464, 0.1065, 18)","(0.3182, 0.0916, 35)","(0.0432, 0.1161, 49)","(0.4221, 0.2131, 91)","(0.3298, 0.2246, 128)","(0.0322, 0.2273, 70)",0.0294
Spike_W152C,[ca],NaN,NaN,NaN,NaN,"(-0.2289, 0.0364, 6)","(0.0749, 0.0769, 13)","(0.4761, 0.0942, 36)","(0.2545, 0.128, 54)","(0.4135, 0.2155, 92)","(0.3078, 0.2368, 135)","(0.0338, 0.2305, 71)",0.0425

Observation point 2021-02-16|23
Dataframe dimension: (133, 46)
Dimension without changes over 25.0%: (105, 46)
Dimension without rows w/o 3 right-most non-null slopes: (6, 12)

,known,2020-11-24|31,2020-12-01|07,2020-12-08|15,2020-12-16|23,2020-12-24|31,2021-01-01|07,2021-01-08|15,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,2021-02-16|23,slopeofslopes
change,,,,,,,,,,,,,,
N_M234I,[br2],NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(-0.2933, 0.0592, 25)","(0.4269, 0.0984, 42)","(0.2705, 0.1018, 58)","(-0.0218, 0.0942, 29)","(0.1597, 0.1401, 50)",0.0457
NS8_V100L,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.5552, 0.0719, 41)","(0.1411, 0.0714, 22)","(0.3231, 0.1373, 49)",-0.1160
NSP3_M1788I,[],"(0.0634, 0.1524, 16)","(-0.431, 0.0725, 10)","(0.1666, 0.2126, 37)","(-0.0977, 0.0596, 9)","(-0.3067, 0.1152, 19)","(0.2617, 0.1006, 17)","(0.074, 0.1335, 51)","(0.1813, 0.1445, 61)","(-0.0965, 0.1101, 47)","(-0.0537, 0.1298, 74)","(0.0014, 0.1104, 34)","(0.0856, 0.1541, 55)",0.0136
NSP3_T183I,[uk],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(-0.3287, 0.0246, 14)","(0.648, 0.0942, 29)","(0.7199, 0.1036, 37)",0.5243
Spike_N501Y,"[br, uk, sa]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(-0.3801, 0.0211, 12)","(0.6938, 0.0844, 26)","(0.8233, 0.1092, 39)",0.6017
Spike_P681H,[uk],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(0.4221, 0.0913, 39)","(-0.022, 0.093, 53)","(0.1092, 0.1136, 35)","(0.1521, 0.1261, 45)",-0.0679

Observation point 2021-02-24|31
Dataframe dimension: (133, 47)
Dimension without changes over 25.0%: (105, 47)
Dimension without rows w/o 3 right-most non-null slopes: (22, 7)

,known,2020-06-16|23,2021-01-16|23,2021-01-24|31,2021-02-01|07,2021-02-08|15,2021-02-16|23,2021-02-24|31,slopeofslopes
change,,,,,,,,,
N_D3L,[uk],NaN,NaN,NaN,"(-0.5828, 0.014, 8)","(0.6883, 0.0649, 20)","(0.8779, 0.0812, 29)","(0.4983, 0.1759, 19)",0.3433
N_M234I,[br2],NaN,"(-0.2933, 0.0592, 25)","(0.4269, 0.0984, 42)","(0.2705, 0.1018, 58)","(-0.0218, 0.0942, 29)","(0.1597, 0.1401, 50)","(0.0828, 0.1111, 12)",0.0225
N_S235F,[uk],NaN,NaN,NaN,"(-0.303, 0.0246, 14)","(0.8383, 0.0877, 27)","(0.6776, 0.0952, 34)","(0.3739, 0.1852, 20)",0.1870
NS8_Q27*,[uk],"(0.0484, 0.0174, 6)",NaN,NaN,"(-0.4236, 0.0193, 11)","(0.8194, 0.0844, 26)","(0.7679, 0.0896, 32)","(0.2812, 0.1481, 16)",0.1657
NS8_R52I,[uk],NaN,NaN,NaN,"(-0.5828, 0.014, 8)","(0.7794, 0.0779, 24)","(0.9112, 0.0868, 31)","(0.2545, 0.1296, 14)",0.2644
NS8_V100L,[],NaN,NaN,NaN,"(0.5552, 0.0719, 41)","(0.1411, 0.0714, 22)","(0.3231, 0.1373, 49)","(0.1774, 0.1019, 11)",-0.0951
NS8_Y73C,[uk],NaN,NaN,NaN,"(-0.4712, 0.0175, 10)","(0.7581, 0.0747, 23)","(0.7997, 0.0868, 31)","(0.2758, 0.1296, 14)",0.2283
NSP3_A890D,[uk],NaN,NaN,NaN,"(-0.4969, 0.0158, 9)","(0.8194, 0.0844, 26)","(0.8836, 0.0924, 33)","(0.3672, 0.1759, 19)",0.2657
NSP3_I1412T,[uk],NaN,NaN,NaN,"(-0.4969, 0.0158, 9)","(0.8194, 0.0844, 26)","(0.7833, 0.0756, 27)","(0.3115, 0.1574, 17)",0.2389
NSP3_T183I,[uk],NaN,NaN,NaN,"(-0.3287, 0.0246, 14)","(0.648, 0.0942, 29)","(0.7199, 0.1036, 37)","(0.2569, 0.1574, 17)",0.1829
NSP6_F108-,"[ny6, uk]",NaN,NaN,NaN,"(-0.2863, 0.0281, 16)","(0.5369, 0.0617, 19)","(0.4154, 0.0644, 23)","(0.574, 0.1944, 21)",0.2459
NSP6_G107-,"[ny6, uk]",NaN,NaN,NaN,"(-0.2863, 0.0281, 16)","(0.5369, 0.0617, 19)","(0.4154, 0.0644, 23)","(0.574, 0.1944, 21)",0.2459
NSP6_S106-,"[ny6, uk]",NaN,NaN,NaN,"(-0.2863, 0.0281, 16)","(0.5369, 0.0617, 19)","(0.4154, 0.0644, 23)","(0.574, 0.1944, 21)",0.2459
Spike_A570D,[uk],NaN,NaN,NaN,"(-0.4712, 0.0175, 10)","(0.8194, 0.0844, 26)","(0.8603, 0.098, 35)","(0.3672, 0.1759, 19)",0.2556
Spike_D1118H,[uk],NaN,NaN,NaN,"(-0.4712, 0.0175, 10)","(0.8194, 0.0844, 26)","(0.8309, 0.0924, 33)","(0.2812, 0.1481, 16)",0.2269
Spike_H69-,"[ny5, uk, ni, c5]",NaN,NaN,NaN,"(-0.303, 0.0246, 14)","(0.5688, 0.0584, 18)","(0.4367, 0.0588, 21)","(0.524, 0.1667, 18)",0.2349
Spike_N501Y,"[br, uk, sa]",NaN,NaN,NaN,"(-0.3801, 0.0211, 12)","(0.6938, 0.0844, 26)","(0.8233, 0.1092, 39)","(0.3928, 0.1852, 20)",0.2448
Spike_P681H,[uk],NaN,NaN,"(0.4221, 0.0913, 39)","(-0.022, 0.093, 53)","(0.1092, 0.1136, 35)","(0.1521, 0.1261, 45)","(0.2918, 0.2037, 22)",-0.0087
Spike_S982A,[uk],NaN,NaN,NaN,"(-0.4712, 0.0175, 10)","(0.8194, 0.0844, 26)","(0.8309, 0.0924, 33)","(0.3115, 0.1574, 17)",0.2360
Spike_T716I,[uk],NaN,NaN,NaN,"(-0.4712, 0.0175, 10)","(0.7998, 0.0812, 25)","(0.8309, 0.0924, 33)","(0.3008, 0.1481, 16)",0.2347
Spike_V70-,"[ny5, uk, ni, c5]",NaN,NaN,NaN,"(-0.303, 0.0246, 14)","(0.5688, 0.0584, 18)","(0.4367, 0.0588, 21)","(0.524, 0.1667, 18)",0.2349
Spike_Y144-,"[ny5, uk]",NaN,NaN,NaN,"(-0.2619, 0.0351, 20)","(0.3661, 0.0584, 18)","(0.3038, 0.0644, 23)","(0.551, 0.1759, 19)",0.2376

Observation point 2021-03-01|07
Dataframe dimension: (133, 48)
Dimension without changes over 25.0%: (101, 48)

Observation point 2021-03-08|15
Dataframe dimension: (133, 49)
Dimension without changes over 25.0%: (101, 49)

In [19]:
type(up_to_moment_below_stretch_final['slopeofslopes'])

pandas.core.series.Series

In [138]:
#stampa grafico solo per quel triangolino (fare grafico delle slope-delle-slopes? cosi si vede le variazioni delle variazioni (derivata seconda))

#vedi chi sono queste per cui d un alert.(rimangono solo le 5 californiane?)
#vedo se all'inizio prevedo la 3/4 americana e la 5-8th!